<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.MemberDAO">
	<select id="selectMemberById" resultType="Map">
		SELECT *
		  FROM accountCheck
		 WHERE id = #{mem_id}
	</select>
	
	<update id="updateLastLoginDt">
		UPDATE member SET lastlogindate = SYSDATE
		WHERE mem_id = #{id}
	</update>
	
	
	<insert id="insert">
		INSERT INTO member(mem_cd, mem_id, mem_pwd, mem_name, mem_email, mem_bir, mem_phone, regdate, mem_addr, mem_addr_detail, mem_zipcode, gb_email_alert, gb_sms_alert, mem_grade, gb_del, gb_ban, gb_sleep)
					VALUES('M' || TO_char(#{mem_bir}, 'YYYYMMDD') || lpad(mem_seq.nextVal,4,0)
						  ,#{mem_id}
						  ,#{mem_pwd}
						  ,#{mem_name}
						  ,#{mem_email}
						  ,#{mem_bir}
						  ,#{mem_phone}
						  ,SYSDATE
						  ,#{mem_addr}
						  ,#{mem_addr_detail}
						  ,#{mem_zipcode}
						  ,#{gb_email_alert}
						  ,#{gb_sms_alert}
						  ,'N'
						  ,'N'
						  ,'N'
						  ,'N'
							)
	</insert>
	
	<select id="selectMemberCode" resultType="Map">
		SELECT mem_cd cd, mem_id id, mem_email email, mem_name name, mem_phone phone
		  FROM member
		 WHERE mem_cd = #{mem_cd}
	</select>
	
	<select id="CheckMember" resultType="Map">
		SELECT mem_phone phone
		  FROM member
		 WHERE mem_phone = #{mem_phone}
	</select>
	
	<select id="CheckMemberEmail" resultType="Map">
		SELECT mem_email email
		  FROM member
		 WHERE mem_email = #{email}
	</select>
	
	<update id="additionUpdate">
		UPDATE member SET gb_email_alert = #{gb_email_alert},
						  gb_sms_alert = #{gb_sms_alert}
		WHERE mem_id = #{mem_id}
	</update>
	
	<select id="selectMemMonthResCnt" resultType="Map">
		SELECT m.mem_cd, nvl(rescnt, 0) rescnt
		FROM (
			SELECT COUNT(*) rescnt, mem_cd
			FROM reservation
			WHERE to_char(resdate, 'yyyyMM') = to_char(ADD_MONTHS(sysdate, -1), 'yyyyMM')
			GROUP BY mem_cd
			) c, MEMBER m
		WHERE c.mem_cd(+) = m.mem_cd
	</select>
	
	<update id="updateMemGradeVIP">
		UPDATE member SET mem_grade = 'V' where mem_cd = #{mem_cd}
	</update>
	
	<update id="updateMemGradeNormal">
		UPDATE member SET mem_grade = 'N' where mem_cd = #{mem_cd}
	</update>
	
	<select id="selectNotLoginYearMem" resultType="str">
		SELECT mem_cd
		FROM MEMBER
		WHERE to_char(lastlogindate, 'yyyyMMdd') <![CDATA[<]]> to_char(add_months(sysdate,-12),'yyyyMMdd')
	</select>
	
	<update id="updateMemSleep">
		UPDATE member SET gb_sleep = 'Y' WHERE mem_cd = #{mem_cd}
	</update>
	
	<update id="updateMemUnSleep">
		UPDATE member SET gb_sleep = 'N' WHERE mem_phone = #{phone}
	</update>
	
	<update id="updateMemUnban">
		UPDATE member
		  SET gb_ban = 'N'
		 WHERE stopdate + 180 <![CDATA[<]]> SYSDATE
	</update>
	
	<select id="selectBuyInfoList" resultType="Map">
		SELECT mb.buydate, p.product_div, p.product_name, p.product_price, mp.gb_use, pd.refunddate
		  FROM mem_buy mb, product p ,mem_product mp, pay_detail pd
		 WHERE mb.mem_cd = #{mem_cd}
		   AND p.product_cd = mp.product_cd
	       AND mb.merchant_uid = mp.merchant_uid
		   AND mb.merchant_uid = pd.merchant_uid
		   ORDER BY buydate desc
	</select>
	
	<select id="select3BuyInfo" resultType="Map">
		SELECT *
		  FROM (
					SELECT mb.buydate, p.product_div, p.product_name, p.product_price, mp.gb_use, pd.refunddate
					  FROM mem_buy mb, product p ,mem_product mp, pay_detail pd
					 WHERE mb.mem_cd = #{mem_cd}
					   AND p.product_cd = mp.product_cd
				       AND mb.merchant_uid = mp.merchant_uid
					   AND mb.merchant_uid = pd.merchant_uid
					   ORDER BY buydate desc
				)
		 WHERE rownum <![CDATA[<=]]> 3
			
			
	</select>
	
	<select id="searchBuyInfo" resultType="Map">
		SELECT mb.buydate, p.product_div, p.product_name, p.product_price, mp.gb_use, pd.refunddate
		  FROM mem_buy mb, product p ,mem_product mp, pay_detail pd
		 WHERE mb.mem_cd = #{mem_cd}
		   AND p.product_cd = mp.product_cd
	       AND mb.merchant_uid = mp.merchant_uid
		   AND mb.merchant_uid = pd.merchant_uid
		   AND TO_CHAR(buydate, 'YYYYMM') like #{cri.monthKeyword}
		   ORDER BY buydate desc
	</select>
	
	<select id="selectBuyInfoListCnt" resultType="int">
		SELECT count(*)
		  FROM mem_buy mb, product p ,mem_product mp, pay_detail pd
		 WHERE mb.mem_cd = #{mem_cd}
		   AND p.product_cd = mb.product_cd
		   AND mb.merchant_uid = mp.merchant_uid
		   AND mb.merchant_uid = pd.merchant_uid
	</select>
	
	<select id="searchBuyInfoListCnt" resultType="int">
		SELECT count(*)
		  FROM mem_buy mb, product p ,mem_product mp, pay_detail pd
		 WHERE mb.mem_cd = #{mem_cd}
		   AND p.product_cd = mb.product_cd
		   AND mb.merchant_uid = mp.merchant_uid
		   AND mb.merchant_uid = pd.merchant_uid
		   AND TO_CHAR(buydate, 'YYYYMM') like #{cri.monthKeyword}
	</select>
</mapper>