<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.MemberDAO">
	<select id="selectMemberById" resultType="member">
		SELECT *
		  FROM member
		 WHERE mem_id = #{mem_id}
	</select>
	
	<update id="updateLastLoginDt">
		UPDATE member SET lastlogindate = SYSDATE
		WHERE mem_id = #{id}
	</update>
	
	
	<insert id="insert">
		INSERT INTO member(mem_cd, mem_id, mem_pwd, mem_name, mem_email, mem_bir, mem_phone, regdate, mem_addr, mem_addr_detail, mem_zipcode, gb_email_alert, gb_sms_alert)
					VALUES('M' || TO_char(#{mem_bir}, 'YYYYMMDD') || lpad(mem_seq.nextVal,4,0)
						  ,#{mem_id}
						  ,#{mem_pwd}
						  ,#{mem_name}
						  ,#{mem_email}
						  ,#{mem_bir}
						  ,#{mem_phone}
						  ,SYSDATE
						  ,#{mem_addr}
						  ,#{mem_addr_detail}
						  ,#{mem_zipcode}
						  ,#{gb_email_alert}
						  ,#{gb_sms_alert}
							)
	</insert>
	
	<select id="selectMemberCode" resultType="member">
		SELECT *
		  FROM member
		 WHERE mem_cd = #{mem_cd}
	</select>
	
	<select id="CheckMember" resultType="member">
		SELECT mem_phone
		  FROM member
		 WHERE mem_phone = #{mem_phone}
	</select>
	
	<select id="CheckMemberEmail" resultType="member">
		SELECT mem_email
		  FROM member
		 WHERE mem_email = #{email}
	</select>
	
	<update id="additionUpdate">
		UPDATE member SET gb_email_alert = #{gb_email_alert},
						  gb_sms_alert = #{gb_sms_alert}
		WHERE mem_id = #{mem_id}
	</update>
	
</mapper>