<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.MovieDAO">

	<select id="selectBoxOfficeMovie10" resultType="Map">
		SELECT m2.movie_cd movie_cd, reserve, movie_name, movie_grade, movie_length, movie_mainpic_path, opendate
		FROM (
			SELECT m.movie_cd, nvl(sum(reserve), 0) reserve
			FROM (
				SELECT s.*, reserve
				FROM (
					SELECT count(*) reserve, screen_cd
					FROM reservation
					WHERE TO_CHAR(resdate, 'YYYYMMDD') =  TO_CHAR(sysdate - 1, 'YYYYMMDD') 
					AND gb_cancel = 'N'
					GROUP BY screen_cd
					) r, screen s
				WHERE r.screen_cd(+) = s.screen_cd
				) s, movie m
			WHERE s.movie_cd(+) = m.movie_cd
			GROUP BY m.movie_cd
			) m1, movie m2
		WHERE m1.movie_cd = m2.movie_cd
		AND enddate <![CDATA[>]]> SYSDATE
		AND movie_name like '%' || #{keyword} || '%'
		ORDER BY reserve DESC NULLS last
	</select>
	
	<select id="selectMovieDetail" parameterType="str" resultType="movie">
		SELECT *
		FROM movie
		WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="selectMoviePicture" parameterType="str" resultType="moviePic">
		SELECT *
		FROM movie_picture
		WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="selectMoviePreview" parameterType="str" resultType="moviePre">
		SELECT *
		FROM movie_preview
		WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="selectMoviePostByCd" parameterType="str" resultType="moviepost">
		SELECT *
		FROM moviepost
		WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="selectReviewByCd" parameterType="str" resultType="review">
		SELECT *
		FROM review
		WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="selectMovieTypeByCd" parameterType="str" resultType="str">
		SELECT movie_type_des
		FROM movie_type_c c, movie_type t
		WHERE c.movie_type_cd = t.movie_type_cd
		AND movie_cd = #{movie_cd}
	</select>
	
	<select id="selectMovieGenreByCd" parameterType="str" resultType="str">
		SELECT genre_name
		FROM genre_c c, genre g 
		WHERE c.genre_cd = g.genre_cd 
		AND movie_cd = #{movie_cd}
	</select>
	
	<select id="selectSearchAllMovie" resultType="Map">
		SELECT m2.movie_cd, reserve, movie_name, movie_grade, movie_length, movie_mainpic_path, opendate
		FROM (
			SELECT m.movie_cd, nvl(sum(reserve), 0) reserve
			FROM (
				SELECT s.*, reserve
				FROM (
					SELECT count(*) reserve, screen_cd
					FROM reservation
					WHERE TO_CHAR(resdate, 'YYYYMMDD') =  TO_CHAR(sysdate - 1, 'YYYYMMDD') 
					AND gb_cancel = 'N'
					GROUP BY screen_cd
					) r, screen s
				WHERE r.screen_cd(+) = s.screen_cd
				) s, movie m
			WHERE s.movie_cd(+) = m.movie_cd
			GROUP BY m.movie_cd
			) m1, movie m2
		WHERE m1.movie_cd = m2.movie_cd
		AND enddate <![CDATA[>]]> SYSDATE
		AND movie_name like '%' || #{keyword} || '%'
		<if test="searchType == 'reserve'.toString()">
			ORDER BY reserve DESC NULLS last
		</if>
		<if test="searchType == 'movie_name'.toString()">
			ORDER BY movie_name
		</if>
		<if test="searchType == 'opendate'.toString()">
			ORDER BY opendate
		</if>
	</select>
	
	<select id="selectYesAllReserver" resultType="int">
		SELECT count(*) all_reserver
		FROM reservation
		WHERE TO_CHAR(resdate, 'YYYYMMDD') =  TO_CHAR(sysdate - 1, 'YYYYMMDD')
		AND GB_CANCEL = 'N'
	</select>
	
	<select id="selectSearchScreenMovie" resultType="Map">
		SELECT m2.movie_cd, reserve, movie_name, movie_grade, movie_length, movie_mainpic_path, opendate
		FROM (
			SELECT m.movie_cd, nvl(sum(reserve), 0) reserve
			FROM (
				SELECT s.*, reserve
				FROM (
					SELECT count(*) reserve, screen_cd
					FROM reservation
					WHERE TO_CHAR(resdate, 'YYYYMMDD') =  TO_CHAR(sysdate - 1, 'YYYYMMDD') 
					AND gb_cancel = 'N'
					GROUP BY screen_cd
					) r, screen s
				WHERE r.screen_cd(+) = s.screen_cd
				) s, movie m
			WHERE s.movie_cd(+) = m.movie_cd
			GROUP BY m.movie_cd
			) m1, movie m2
		WHERE m1.movie_cd = m2.movie_cd
		AND enddate <![CDATA[>]]> SYSDATE
		AND opendate <![CDATA[<]]> sysdate
		AND movie_name like '%' || #{keyword} || '%'
		<if test="searchType == 'reserve'.toString()">
			ORDER BY reserve DESC NULLS last
		</if>
		<if test="searchType == 'movie_name'.toString()">
			ORDER BY movie_name
		</if>
		<if test="searchType == 'opendate'.toString()">
			ORDER BY opendate
		</if>
	</select>
	
	<select id="selectSearchComingMovie" resultType="Map">
		SELECT m2.movie_cd, reserve, movie_name, movie_grade, movie_length, movie_mainpic_path, opendate
		FROM (
			SELECT m.movie_cd, nvl(sum(reserve), 0) reserve
			FROM (
				SELECT s.*, reserve
				FROM (
					SELECT count(*) reserve, screen_cd
					FROM reservation
					WHERE TO_CHAR(resdate, 'YYYYMMDD') =  TO_CHAR(sysdate - 1, 'YYYYMMDD') 
					AND gb_cancel = 'N'
					GROUP BY screen_cd
					) r, screen s
				WHERE r.screen_cd(+) = s.screen_cd
				) s, movie m
			WHERE s.movie_cd(+) = m.movie_cd
			GROUP BY m.movie_cd
			) m1, movie m2
		WHERE m1.movie_cd = m2.movie_cd
		AND enddate <![CDATA[>]]> SYSDATE
		AND opendate <![CDATA[>]]> sysdate
		AND movie_name like '%' || #{keyword} || '%'
		<if test="searchType == 'reserve'.toString()">
			ORDER BY reserve DESC NULLS last
		</if>
		<if test="searchType == 'movie_name'.toString()">
			ORDER BY movie_name
		</if>
		<if test="searchType == 'opendate'.toString()">
			ORDER BY opendate
		</if>
	</select>
	
	<select id="selectLikeGenreMovie" resultType="Map">
		SELECT mcd.movie_cd, nvl(reserve, 0) reserve, movie_name, movie_grade, movie_length, movie_mainpic_path, opendate
		FROM (
			SELECT movie_cd, nvl(sum(reserve), 0) reserve
			FROM (
				SELECT count(*) reserve, screen_cd
				FROM reservation
				WHERE TO_CHAR(resdate, 'YYYYMMDD') =  TO_CHAR(sysdate - 1, 'YYYYMMDD') 
				AND gb_cancel = 'N'
				GROUP BY screen_cd
				) r, screen s
			WHERE r.screen_cd(+) = s.screen_cd
			GROUP BY movie_cd
			) res,
			(
			SELECT m.movie_cd
			FROM genre_c gc, movie m
			WHERE gc.movie_cd = m.movie_cd
			AND (genre_cd = #{likegenre1}
			<if test="likegenre2!=null and !likegenre2.equals('')">
				OR genre_cd = #{likegenre2}
			</if>
			<if test="likegenre3!=null and !likegenre3.equals('')">
				OR genre_cd = #{likegenre3}
			</if>
			)
			GROUP BY m.movie_cd
			) mcd, movie m
		WHERE res.movie_cd(+) = mcd.movie_cd	
		AND m.movie_cd = mcd.movie_cd
		AND enddate <![CDATA[>]]> SYSDATE
		AND movie_name like '%' || #{keyword} || '%'
		<if test="searchType == 'reserve'.toString()">
			ORDER BY reserve DESC NULLS last
		</if>
		<if test="searchType == 'movie_name'.toString()">
			ORDER BY movie_name
		</if>
		<if test="searchType == 'opendate'.toString()">
			ORDER BY opendate
		</if>
	</select>
	
	<select id="selectMovieLikeExist" resultType="int">
		SELECT COUNT(*)
		FROM movie_like
		WHERE movie_cd = #{movie_cd}
		AND mem_cd = #{mem_cd}
	</select>
	
	<insert id="insertMovieLike">
		INSERT INTO movie_like (movie_cd, mem_cd) VALUES (#{movie_cd}, #{mem_cd})
	</insert>
	
	<delete id="deleteMovieLike">
		DELETE movie_like
		WHERE movie_cd = #{movie_cd}
		AND mem_cd = #{mem_cd}
	</delete>
	
	<select id="selectMovieLikeCount" resultType="int">
		SELECT COUNT(*)
		FROM movie_like
		WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="selectMovieAllReservers" resultType="int">
		SELECT COUNT(*)
		FROM reservation r, screen s, movie m
		WHERE r.screen_cd = s.screen_cd
		AND s.MOVIE_CD = m.MOVIE_CD 
		AND s.movie_cd = #{movie_cd}
		AND startdate <![CDATA[<]]> sysdate
		AND GB_CANCEL = 'N'
	</select>
	
	<select id="selectYesMovieReserver" resultType="int">
		SELECT COUNT(*)
		FROM reservation r, screen s, movie m
		WHERE r.screen_cd = s.screen_cd
		AND s.movie_cd = m.movie_cd 
		AND s.movie_cd = #{movie_cd}
		AND TO_CHAR(resdate, 'YYYYMMDD') = TO_CHAR(sysdate - 1, 'YYYYMMDD') 
		AND GB_CANCEL = 'N'
	</select>
	
	<select id="selectMovieWatchYN" resultType="int">
		SELECT COUNT(*)
		FROM reservation r, screen s
		WHERE r.screen_cd = s.screen_cd
		AND mem_cd = #{mem_cd}
		AND movie_cd = #{movie_cd}
		AND gb_cancel = 'N'
		AND startdate <![CDATA[<]]> sysdate
	</select>
	
	<select id="selectMovieReviewYN" resultType="int">
		SELECT count(*)
		FROM review
		WHERE mem_cd = #{mem_cd}
		AND movie_cd = #{movie_cd}
		AND gb_del = 'N'
	</select>
	
	<insert id="insertReview" parameterType="review">
		INSERT INTO review (review_no, mem_cd, movie_cd, review_rating, review_content, regdate, gb_del) 
		VALUES (review_seq.nextval, #{mem_cd}, #{movie_cd}, #{review_rating}, #{review_content}, sysdate, 'N')
	</insert>
	
	<select id="selectReview3" resultType="Map">
		SELECT r.*, nvl(reviewlike, 0) reviewlike, mem_id, mem_pic_path
		FROM (
			SELECT count(*) reviewlike, review_no
			FROM review_like
			GROUP BY review_no
			)rl, review r, MEMBER m
		WHERE rl.review_no(+) = r.review_no
		AND r.mem_cd = m.mem_cd
		AND r.gb_del = 'N'
		AND movie_cd = #{movie_cd}
		AND rownum <![CDATA[<=]]> 3
	</select>
	
	<select id="getAllMovieReview" resultType="Map">
		SELECT m.MOVIE_NAME , r.*, mem.MEM_ID, mem.MEM_PIC_PATH, (
		  		SELECT count(*)
		  		  FROM review_like
		  		 WHERE REVIEW_NO = r.REVIEW_NO
		  		) reviewlike
		  FROM movie m, review r, MEMBER mem
		 WHERE m.MOVIE_CD = r.MOVIE_CD
 		   AND mem.MEM_CD = r.MEM_CD
 		   AND r.gb_del = 'N'
 		   AND movie_name like '%' || #{keyword} ||'%'
 		      <if test="searchType == 'like'.toString()">
				ORDER BY reviewlike DESC NULLS last, r.regdate DESC
			</if>
			<if test="searchType == 'regdate'.toString()">
				ORDER BY r.regdate DESC
			</if>
	</select>
	
	<insert id="insertReviewLike">
		INSERT INTO review_like (review_no, mem_cd) VALUES(#{review_no}, #{mem_cd})
	</insert>
	
	<delete id="deleteReviewLike">
		DELETE review_like 
		WHERE review_no = #{review_no}
		AND mem_cd = #{mem_cd}
	</delete>
	
	<select id="selectReviewLikeYN" resultType="int">
		SELECT COUNT(*)
		FROM review_like
		WHERE mem_cd = #{mem_cd}
		AND review_no = #{review_no}
	</select>
	
	<select id="reviewReportYN" resultType="int">
		SELECT COUNT(*)
		FROM review_report
		WHERE review_no = #{review_no}
		AND mem_cd = #{mem_cd}
	</select>
	
	<insert id="insertReviewReport">
		INSERT INTO review_report (review_no, mem_cd) VALUES(#{review_no}, #{mem_cd})
	</insert>
	
	<update id="updateReview">
		UPDATE review SET review_content = #{review_content}, review_rating = #{review_rating}, updatedate = sysdate
		WHERE review_no = #{review_no}
	</update>
	
	<select id="selectMemLikeGenre" resultType="str">
		SELECT genre_cd
		FROM mem_like_genre
		where mem_cd = #{mem_cd}
	</select>
	
	<select id="selectMovieRateAvg" resultType="double">
		SELECT nvl(ROUND(avg(review_rating), 3),0)
		FROM review
		WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="searchReview" resultType="Map">
		SELECT r.*, m.movie_name, mem.mem_id, (
				SELECT count(*)
		  		  FROM review_like
		  		 WHERE REVIEW_NO = r.REVIEW_NO
		  		) reviewlike
		  FROM review r, movie m, member mem
		 WHERE movie_name like '%' || #{keyword} ||'%'
 		   AND m.MOVIE_CD = r.MOVIE_CD
   		   AND mem.MEM_CD = r.MEM_CD
	</select>
	
	<select id="selectMoviePostMap" resultType="Map">
		SELECT mp.movie_cd, mp.movie_pic_no, movie_pic_path, mpost_content, mp.regdate, movie_name, mpost_no, mem_id 
		FROM moviepost mp, movie m, movie_picture p, MEMBER mb
		WHERE mp.movie_cd = m.movie_cd
		AND mp.mem_cd = mb.mem_cd
		AND p.movie_pic_no = mp.movie_pic_no
		AND mp.gb_del = 'N'
		AND mp.movie_cd = #{movie_cd}
	</select>
	
	<select id="selectSearchMoviePostList" resultType="Map">
		SELECT mp.movie_cd, mp.movie_pic_no, movie_pic_path, mpost_content, mp.regdate, movie_name, mp.mpost_no, mem_id, mp.mem_cd, nvl(likecnt, 0) likecnt, nvl(replycnt, 0) replycnt
		FROM moviepost mp, movie m, movie_picture p, MEMBER mb
			,(SELECT COUNT(*) likecnt, mpost_no
			FROM mp_like
			GROUP BY mpost_no) ml,
			(SELECT COUNT(*) replycnt, mpost_no
			FROM reply
			WHERE gb_del = 'N'
			GROUP BY mpost_no) mr
		WHERE mp.movie_cd = m.movie_cd
		AND mp.mem_cd = mb.mem_cd
		AND p.movie_pic_no = mp.movie_pic_no
		AND mp.mpost_no = ml.mpost_no(+)
		AND mp.mpost_no = mr.mpost_no(+)
		AND mp.gb_del = 'N'
		AND movie_name like '%' || #{keyword} || '%'
		<if test="searchType == 'like'.toString()">
			ORDER BY likecnt DESC NULLS last, mp.regdate DESC
		</if>
		<if test="searchType == 'regdate'.toString()">
			ORDER BY mp.regdate DESC
		</if>
	</select>
	
	<select id="selectSearchMoviePostcnt" resultType="int">
		SELECT COUNT(*)
		FROM moviepost mp, movie m, movie_picture p, MEMBER mb
			,(SELECT COUNT(*) likecnt, mpost_no
			FROM mp_like
			GROUP BY mpost_no) ml,
			(SELECT COUNT(*) replycnt, mpost_no
			FROM reply
			WHERE gb_del = 'N'
			GROUP BY mpost_no) mr
		WHERE mp.movie_cd = m.movie_cd
		AND mp.mem_cd = mb.mem_cd
		AND p.movie_pic_no = mp.movie_pic_no
		AND mp.mpost_no = ml.mpost_no(+)
		AND mp.mpost_no = mr.mpost_no(+)
		AND mp.gb_del = 'N'
		AND movie_name like '%' || #{keyword} || '%'
	</select>
	
	<select id="getSearchReviewListCount" resultType="int">
		SELECT COUNT(*)
		  FROM movie m, review r, MEMBER mem
		 WHERE m.MOVIE_CD = r.MOVIE_CD
 		   AND mem.MEM_CD = r.MEM_CD
 		   AND r.gb_del = 'N'
 		   AND movie_name like '%' || #{keyword} ||'%'
	</select>
	
	<select id="selectMovieCode" resultType="movie">
		SELECT m.movie_cd, movie_name
		  FROM (
				SELECT movie_cd
				FROM reservation r, screen s
				WHERE r.screen_cd = s.screen_cd
				AND mem_cd = #{mem_cd}
				AND gb_cancel = 'N'
				AND startdate <![CDATA[<]]> sysdate
				GROUP BY movie_cd
		  		) mcd, movie m
		  WHERE mcd.movie_cd = m.movie_cd
	</select>
	
	<select id="selectMpostWriteMovie" resultType="movie">
		SELECT mp.movie_cd, max(movie_name) movie_name
		FROM moviepost mp, movie m
		WHERE mp.movie_cd = m.movie_cd
		AND mem_cd = #{mem_cd}
		AND mp.gb_del = 'N'
		GROUP BY mp.movie_cd
	</select>
	
	<select id="selectMovieInfoList" resultType="Map">
		SELECT r.MERCHANT_UID
		  ,LISTAGG(r.MEM_CAT , ', ') WITHIN GROUP(ORDER BY r.mem_cat) mem_cat
		  ,LISTAGG(r.RES_SEAT , ', ') WITHIN GROUP(ORDER BY RES_SEAT)  res_seat
		  ,MAX(startdate) startdate
		  ,MAX(RESDATE) RESDATE
		  ,MAX(h.house_name) house_name
		  ,MAX(h.thr_name) thr_name
		  ,MAX(REFUNDDATE) REFUNDDATE
		  ,MAX(m.movie_name) movie_name
		  ,MAX(m.movie_cd) movie_cd
		  ,MAX(m.movie_mainpic_path) movie_mainpic_path
	  FROM RESERVATION r
	  	  ,screen s
	  	  ,movie m
	  	  ,house h
	  	  ,PAY_DETAIL p
	 WHERE r.mem_cd = #{mem_cd}
	   AND s.screen_cd = r.screen_cd 
	   AND s.movie_cd = m.movie_cd
	   AND h.house_no = s.house_no
	   AND p.merchant_uid = r.merchant_uid
	 GROUP BY r.merchant_uid
	</select>
	
	<select id="searchMovieInfoList" resultType="Map">
		SELECT r.MERCHANT_UID
		  ,LISTAGG(r.MEM_CAT , ', ') WITHIN GROUP(ORDER BY r.mem_cat) mem_cat
		  ,LISTAGG(r.RES_SEAT , ', ') WITHIN GROUP(ORDER BY RES_SEAT)  res_seat
		  ,MAX(startdate) startdate
		  ,MAX(RESDATE) RESDATE
		  ,MAX(h.house_name) house_name
		  ,MAX(h.thr_name) thr_name
		  ,MAX(REFUNDDATE) REFUNDDATE
		  ,MAX(m.movie_name) movie_name
		  ,MAX(m.movie_cd) movie_cd
		  ,MAX(m.movie_mainpic_path) movie_mainpic_path
	  FROM RESERVATION r
	  	  ,screen s
	  	  ,movie m
	  	  ,house h
	  	  ,PAY_DETAIL p
	 WHERE r.mem_cd = #{mem_cd}
	 <if test="cri.searchType == 'date'.toString()">
	   AND TO_CHAR(startdate, 'YYYYMM') like #{cri.monthKeyword}
	 </if>
	 <if test="cri.searchType == 'movie'.toString()">
	   AND m.movie_name like '%' || #{cri.keyword} || '%'
	 </if>
	 <if test="cri.searchType == 'theater'.toString()">
	   AND h.thr_name like '%' || #{cri.keyword} || '%'
	 </if>
	   AND s.screen_cd = r.screen_cd 
	   AND s.movie_cd = m.movie_cd
	   AND h.house_no = s.house_no
	   AND p.merchant_uid = r.merchant_uid
	 GROUP BY r.merchant_uid
	</select>

	<insert id="insertMoviePost">
		INSERT INTO moviepost (mpost_no, mem_cd, movie_cd, movie_pic_no, mpost_content, gb_del, regdate)
					VALUES (mpost_seq.nextval, #{mem_cd}, #{movie_cd}, #{movie_pic_no}, #{mpost_content}, 'N', sysdate)
	</insert>
	
	<select id="selectMoviePostView" resultType="Map">
		SELECT mp.mpost_no
			 , MAX(mp.mem_cd) mem_cd
			 , MAX(mp.movie_cd) movie_cd
			 , MAX(mp.mpost_content) mpost_content
			 , MAX(mp.movie_pic_no) movie_pic_no
			 , MAX(mp.regdate) regdate
			 , MAX(movie_name) movie_name
			 , MAX(mem_id) mem_id
			 , MAX(mem_pic_path) mem_pic_path
			 , MAX(movie_pic_path) movie_pic_path
			 , count(ml.mpost_no) likecnt
			 , max(r.replycnt) replycnt
		FROM moviepost mp, movie m, MEMBER mb, movie_picture mpic, mp_like ml, (SELECT COUNT(*) replycnt, mpost_no
																				FROM reply
																				WHERE gb_del = 'N'
																				GROUP BY mpost_no) r
		WHERE mp.mem_cd = mb.mem_cd
		AND mp.movie_cd = m.movie_cd
		AND mp.movie_pic_no = mpic.movie_pic_no
		AND ml.mpost_no(+) = mp.mpost_no
		AND r.mpost_no(+) = mp.mpost_no
		AND mp.mpost_no = #{mpost_no}
		GROUP BY mp.mpost_no
	</select>
	
	<select id="selectMoviePostReply" resultType="Map">
		SELECT r.*, mem_id, mem_pic_path
		FROM reply r, MEMBER m
		WHERE r.mem_cd = m.mem_cd 
		AND mpost_no = #{mpost_no}
		AND r.gb_del = 'N'
		ORDER BY r.regdate DESC
	</select>
	
	<select id="selectMemMpostLikeYN" resultType="int">
		SELECT COUNT(*)
		FROM mp_like
		WHERE mpost_no = #{mpost_no}
		AND mem_cd = #{mem_cd}
	</select>
	
	<insert id="insertReply">
		INSERT INTO reply (reply_no, mem_cd, reply_content, mpost_no, regdate, gb_del)
						VALUES(reply_seq.nextval, #{mem_cd}, #{reply_content}, #{mpost_no}, sysdate, 'N')
		<selectKey resultType="int" keyProperty="reply_no" order="AFTER">
			SELECT reply_seq.currval reply_no FROM dual
		</selectKey>
	</insert>
	
	<select id="selectRegReply" resultType="Map">
		SELECT reply_no, reply_content, r.mem_cd, mem_id, mem_pic_path, r.regdate
		FROM reply r, MEMBER m
		WHERE r.mem_cd = m.mem_cd
		AND reply_no = #{reply_no}
	</select>
	
	<insert id="insertMoviePostLike">
		INSERT INTO mp_like (mem_cd, mpost_no) VALUES(#{mem_cd}, #{mpost_no})
	</insert>
	
	<delete id="deleteMoviePostLike">
		DELETE mp_like WHERE mem_cd = #{mem_cd} AND mpost_no = #{mpost_no}
	</delete>
	
	<update id="updateReply">
		UPDATE reply SET reply_content = #{reply_content}, updatedate = sysdate
		WHERE reply_no = #{reply_no}
	</update>
	
	<update id="deleteReply">
		UPDATE reply SET gb_del = 'Y' WHERE reply_no = #{reply_no}
	</update>
	
	<select id="getMemReplyReportYN" resultType="int">
		SELECT COUNT(*)
		FROM reply_report
		WHERE mem_cd = #{mem_cd}
		AND reply_no = #{reply_no}
	</select>
	
	<insert id="replyReport">
		INSERT INTO reply_report (mem_cd, reply_no) VALUES (#{mem_cd}, #{reply_no})
	</insert>
	
	<select id="getMemMpostReportYN" resultType="int">
		SELECT COUNT(*)
		FROM mp_report
		WHERE mem_cd = #{mem_cd}
		AND mpost_no = #{mpost_no}
	</select>
	
	<insert id="mpostReport">
		INSERT INTO mp_report (mem_cd, mpost_no) VALUES(#{mem_cd}, #{mpost_no})
	</insert>
	
	<update id="deleteMpost">
		UPDATE moviepost SET gb_del = 'Y' WHERE mpost_no = #{mpost_no}
	</update>
	
	<select id="selectMoviePostUpdateInfo" resultType="Map">
		SELECT mp.movie_cd, mp.movie_pic_no, movie_pic_path, mpost_content, movie_name
		FROM moviepost mp, movie_picture m_p, movie m
		WHERE mp.movie_pic_no = m_p.movie_pic_no
		AND m.movie_cd = mp.movie_cd
		AND mpost_no = #{mpost_no}
	</select>
	
	<update id="updateMoviePost">
		UPDATE moviepost SET mpost_content = #{mpost_content}, movie_cd = #{movie_cd}, movie_pic_no = #{movie_pic_no}, updatedate = sysdate
		WHERE mpost_no = #{mpost_no} 
	</update>
	
	<select id="selectMpostTop5" resultType="Map">
		SELECT *
		FROM (
			SELECT temp.*, rownum rnum
			FROM (
			SELECT nvl(writeCnt,0) writeCnt, m.movie_cd, movie_name, movie_mainpic_path
			FROM movie m, (
							SELECT count(*) writeCnt, movie_cd
							FROM moviepost
							WHERE gb_del = 'N'
							GROUP BY movie_cd) wc
			WHERE m.movie_cd = wc.movie_cd(+)
			ORDER BY writeCnt DESC) temp)
		WHERE rownum <![CDATA[<=]]> 5
	</select>
	
	<select id="selectReviewTop5Movie" resultType="Map">
		SELECT *
		FROM (
			SELECT temp.*, rownum rnum
			FROM (
			SELECT nvl(writeCnt,0) writeCnt, m.movie_cd, movie_name, movie_mainpic_path, nvl(ROUND(rate, 3),0) rate
			FROM movie m, (
							SELECT count(*) writeCnt, movie_cd, sum(review_rating)/count(review_rating) rate
							FROM review
							WHERE gb_del = 'N'
							GROUP BY movie_cd) wc
			WHERE m.movie_cd = wc.movie_cd(+)
			ORDER BY writeCnt DESC) temp)
		WHERE rnum <![CDATA[<=]]> 5
	</select>
	
	<select id="selectSearchMovieInfoListCnt" resultType="int">
		SELECT count(*) total_count
  FROM (
  		SELECT r.MERCHANT_UID
		  ,LISTAGG(r.MEM_CAT , ', ') WITHIN GROUP(ORDER BY r.mem_cat) mem_cat
		  ,LISTAGG(r.RES_SEAT , ', ') WITHIN GROUP(ORDER BY RES_SEAT)  res_seat
		  ,MAX(startdate)
		  ,MAX(RESDATE)
		  ,MAX(h.house_name)
		  ,MAX(h.thr_name)
		  ,MAX(REFUNDDATE)
		  ,MAX(m.movie_name)
		  ,MAX(m.movie_cd)
		  ,MAX(m.MOVIE_MAINPIC_PATH)
	  FROM RESERVATION r
	  	  ,screen s
	  	  ,movie m
	  	  ,house h
	  	  ,PAY_DETAIL p
	 WHERE r.mem_cd = #{mem_cd}
	   AND s.screen_cd = r.screen_cd 
	   AND s.movie_cd = m.movie_cd
	   AND h.house_no = s.house_no
	   AND p.merchant_uid = r.merchant_uid
	 GROUP BY r.merchant_uid
  	)
	</select>
	
	<select id="SearchMovieInfoListCnt" resultType="int">
	SELECT COUNT(*)
	  FROM (
		SELECT r.MERCHANT_UID
		  ,LISTAGG(r.MEM_CAT , ', ') WITHIN GROUP(ORDER BY r.mem_cat) mem_cat
		  ,LISTAGG(r.RES_SEAT , ', ') WITHIN GROUP(ORDER BY RES_SEAT)  res_seat
		  ,MAX(startdate) startdate
		  ,MAX(RESDATE) RESDATE
		  ,MAX(h.house_name) house_name
		  ,MAX(h.thr_name) thr_name
		  ,MAX(REFUNDDATE) REFUNDDATE
		  ,MAX(m.movie_name) movie_name
		  ,MAX(m.movie_cd) movie_cd
		  ,MAX(m.movie_mainpic_path) movie_mainpic_path
	  FROM RESERVATION r
	  	  ,screen s
	  	  ,movie m
	  	  ,house h
	  	  ,PAY_DETAIL p
	 WHERE r.mem_cd = #{mem_cd}
	 <if test="cri.searchType == 'date'.toString()">
	   AND TO_CHAR(startdate, 'YYYYMM') like #{cri.monthKeyword}
	 </if>
	 <if test="cri.searchType == 'movie'.toString()">
	   AND m.movie_name like '%' || #{cri.keyword} || '%'
	 </if>
	 <if test="cri.searchType == 'theater'.toString()">
	   AND h.thr_name like '%' || #{cri.keyword} || '%'
	 </if>
	   AND s.screen_cd = r.screen_cd 
	   AND s.movie_cd = m.movie_cd
	   AND h.house_no = s.house_no
	   AND p.merchant_uid = r.merchant_uid
	 GROUP BY r.merchant_uid
	  		)
	</select>
	
	<select id="getMy2ResInfo" resultType="Map">
	SELECT *
	  FROM (
			SELECT r.merchant_uid
				  ,LISTAGG(r.MEM_CAT , ', ') WITHIN GROUP(ORDER BY r.mem_cat) mem_cat
				  ,LISTAGG(r.RES_SEAT , ', ') WITHIN GROUP(ORDER BY res_seat)  res_seat
				  ,MAX(startdate) startdate
				  ,MAX(RESDATE) RESDATE
				  ,MAX(h.house_name) house_name
				  ,MAX(h.thr_name) thr_name
				  ,MAX(REFUNDDATE) REFUNDDATE
				  ,MAX(m.movie_name) movie_name
				  ,MAX(m.movie_cd) movie_cd
				  ,MAX(m.movie_mainpic_path) movie_mainpic_path
			  FROM reservation r
			  	  ,screen s
			  	  ,movie m
			  	  ,house h
			  	  ,PAY_DETAIL p
			 WHERE r.mem_cd = #{mem_cd}
			   AND s.screen_cd = r.screen_cd 
			   AND s.movie_cd = m.movie_cd
			   AND h.house_no = s.house_no
			   AND p.merchant_uid = r.merchant_uid
			 GROUP BY r.merchant_uid
			 ORDER BY r.merchant_uid
			 )
 	WHERE rownum <![CDATA[<=]]> 1
	</select>
</mapper>