<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.PhotoTicketDAO">
	<select id="selectPTMovieInfo" resultType="Map">
		SELECT movie_name, movie_grade, movie_type_des, startdate, thr_name, house_name, r.merchant_uid, movie_length, r.screen_cd, res_no
		FROM (
			SELECT merchant_uid, max(screen_cd) screen_cd, max(res_no) res_no
			FROM reservation
			WHERE merchant_uid = #{merchant_uid}
			GROUP BY merchant_uid
			) r, movie m
			, movie_type mt
			, screen s
			, house h
		WHERE r.screen_cd = s.screen_cd
		AND s.movie_cd = m.movie_cd
		AND s.movie_type_cd = mt.movie_type_cd
		AND s.house_no = h.house_no
	</select>

	<insert id="insertPayDetailPhotoTicket">
		INSERT INTO pay_Detail (
									imp_uid,
									apply_num,
									card_name,
									card_number,
									pay_method,
									merchant_uid,
									card_quota,
									status,
									paid_amount,
									receipt_url
								)
							VALUES(
									#{imp_uid},
									#{apply_num},
									#{card_name},
									#{card_number},
									#{pay_method},
									'T' || #{merchant_uid} || LPAD(pay_seq.nextval,4,0),
									#{card_quota},
									#{status},
									#{paid_amount},
									#{receipt_url}
							)
		<selectKey resultType="str" keyProperty="merchant_uid" order="AFTER">
			SELECT 'T' || #{merchant_uid} || LPAD(pay_seq.currval,4,0) merchant_uid FROM dual
		</selectKey>
	</insert>
	
	<insert id="insertPhotoTicket">
		INSERT INTO photo_ticket (pt_cd, merchant_uid, front_path, back_path, gb_print)
		VALUES(#{pt_cd}, #{merchant_uid}, #{front_path}, #{back_path}, 'N')
	</insert>
</mapper>