<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.PointDAO">
	
	<insert id="insertMoviePoint">
		INSERT INTO point (point_cd, mem_cd, relate_cd, point, regdate) VALUES ('A' || to_char(sysdate, 'yyyyMMdd') || LPAD(point_seq.nextval,4,0), #{MEM_CD}, #{MERCHANT_UID}, #{PAID_AMOUNT}/20, sysdate)
	</insert>
	
	<insert id="insertMoviePointVIP">
		INSERT INTO point (point_cd, mem_cd, relate_cd, point, regdate) VALUES ('A' || to_char(sysdate, 'yyyyMMdd') || LPAD(point_seq.nextval,4,0), #{MEM_CD}, #{MERCHANT_UID}, #{PAID_AMOUNT}/10, sysdate)
	</insert>
	
	<select id="selectpointInList" resultType="Map">
		SELECT r.merchant_uid, max(paid_amount) paid_amount, max(r.mem_cd) mem_cd, max(mem_grade) mem_grade
		FROM (
			SELECT *
			FROM screen
			WHERE to_char(startdate, 'yyyyMMdd') = to_char(sysdate - 1, 'yyyyMMdd')
			) s, reservation r, pay_detail p, MEMBER m
		WHERE s.screen_cd = r.screen_cd
		AND r.merchant_uid = p.merchant_uid
		AND r.mem_cd = m.mem_cd
		AND r.gb_cancel = 'N'
		GROUP BY r.merchant_uid
	</select>
	
	<select id="selectMemPointList" resultType="Map">
		SELECT *
		FROM (
			SELECT p.*, product_name point_name
			FROM point p, mem_buy mb, product pd
			WHERE p.relate_cd = mb.merchant_uid
			AND pd.product_cd = mb.product_cd
			AND p.mem_cd = #{mem_cd}
			<if test="searchType != ''.toString">
				AND to_char(regdate, 'yyyy-MM-dd') >= #{searchType}
			</if>
			<if test="searchType2 != ''.toString">
				AND to_char(regdate, 'yyyy-MM-dd') <![CDATA[<=]]> #{searchType2}
			</if>
			 UNION ALL
			SELECT p.*, product_name point_name
			FROM point p, mem_product mp, product pd
			WHERE mp.mem_product_cd = p.relate_cd
			AND mp.product_cd = pd.product_cd
			AND p.mem_cd = #{mem_cd}
			<if test="searchType != ''.toString">
				AND to_char(regdate, 'yyyy-MM-dd') >= #{searchType}
			</if>
			<if test="searchType2 != ''.toString">
				AND to_char(regdate, 'yyyy-MM-dd') <![CDATA[<=]]> #{searchType2}
			</if>
			 UNION ALL
			SELECT p.*, movie_name point_name
			FROM point p, screen s, movie m, (SELECT merchant_uid, max(screen_cd) screen_cd FROM reservation WHERE mem_cd = #{mem_cd} GROUP BY merchant_uid) r
			WHERE p.relate_cd = r.merchant_uid
			AND r.screen_cd = s.screen_cd
			AND s.movie_cd = m.movie_cd
			AND p.mem_cd = #{mem_cd}
			<if test="searchType != ''.toString">
				AND to_char(regdate, 'yyyy-MM-dd') >= #{searchType}
			</if>
			<if test="searchType2 != ''.toString">
				AND to_char(regdate, 'yyyy-MM-dd') <![CDATA[<=]]> #{searchType2}
			</if>
			)
		ORDER BY regdate DESC
	</select>
	
	<select id="selectMemPointCount" resultType="int">
		SELECT COUNT(*)
		FROM point p
		WHERE mem_cd = #{mem_cd}
		<if test="searchType != ''.toString">
			AND to_char(regdate, 'yyyy-MM-dd') >= #{searchType}
		</if>
		<if test="searchType2 != ''.toString">
			AND to_char(regdate, 'yyyy-MM-dd') <![CDATA[<=]]> #{searchType2}
		</if>
	</select>
	
	<select id="selectMemProCdExist" resultType="int">
		SELECT COUNT(*)
		FROM mem_product
		WHERE mem_product_cd = #{mem_product_cd}
		AND to_char(enddate, 'yyyyMMdd') >= to_char(sysdate, 'yyyyMMdd')
	</select>
	
	<select id="selectMemProCdGbUse" resultType="str">
		SELECT gb_use
		FROM mem_product
		WHERE mem_product_cd = #{mem_product_cd}
	</select>
	
	<select id="selectPointByMemProCd" resultType="int">
		SELECT product_price
		FROM mem_product mp, product pd
		WHERE mp.product_cd = pd.product_cd
		AND mem_product_cd = #{mem_product_cd}
	</select>
	
	<insert id="insertMemGiftCard">
		INSERT INTO point (point_cd, mem_cd, relate_cd, point, regdate) VALUES('A' || to_char(sysdate, 'yyyyMMdd') || LPAD(point_seq.nextval,4,0), #{mem_cd}, #{mem_product_cd}, #{point}, sysdate)
	</insert>
	
	<update id="updateMemProGbUse">
		UPDATE mem_product SET gb_use = 'Y' WHERE mem_product_cd = #{mem_product_cd}
	</update>
	
	<select id="selectMemPoint" resultType="point">
		SELECT point_cd, point
		FROM point
		WHERE mem_cd = #{mem_cd}
	</select>
	
	<select id="get5PointList" resultType="Map">
		SELECT *
		FROM (
			SELECT p.*, product_name point_name
			FROM point p, mem_buy mb, product pd
			WHERE p.relate_cd = mb.merchant_uid
			AND pd.product_cd = mb.product_cd
			AND p.mem_cd = #{mem_cd}
			 UNION ALL
			SELECT p.*, product_name point_name
			FROM point p, mem_product mp, product pd
			WHERE mp.mem_product_cd = p.relate_cd
			AND mp.product_cd = pd.product_cd
			AND p.mem_cd = #{mem_cd}
			 UNION ALL
			SELECT p.*, movie_name point_name
			FROM point p, screen s, movie m, (SELECT merchant_uid, max(screen_cd) screen_cd FROM reservation WHERE mem_cd = #{mem_cd} GROUP BY merchant_uid) r
			WHERE p.relate_cd = r.merchant_uid
			AND r.screen_cd = s.screen_cd
			AND s.movie_cd = m.movie_cd
			AND p.mem_cd = #{mem_cd}
			)
		WHERE rownum <![CDATA[<=]]> 5
		ORDER BY regdate DESC
	</select>
</mapper>