<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.SnsDAO">
	<select id="kakaoSelectByMemberCode" resultType="sns">
		SELECT mem_cd
		  FROM mem_sns_login
		 WHERE sns_email = #{sns_email}
		   AND sns = 'K'
	</select>

	<select id="naverSelectByMemberCode" resultType="sns">
		SELECT mem_cd
		  FROM mem_sns_login
		 WHERE sns_email = #{sns_email}
		   AND sns = 'N'
	</select>
	
	<insert id="kakaoInsert">
		INSERT INTO mem_sns_login (mem_cd, sns, linkdate, access_token, refresh_token, sns_email)
							VALUES (#{mem_cd}, 'K', SYSDATE, #{access_Token}, #{refresh_Token}, #{sns_email})
	</insert>

	<insert id="naverInsert">
		INSERT INTO mem_sns_login (mem_cd, sns, linkdate, access_token, refresh_token, sns_email)
							VALUES (#{mem_cd}, 'N', SYSDATE, #{access_token}, #{refresh_token}, #{sns_email})
	</insert>
	
	<select id="selectKakaoInfo" resultType="Map">
		SELECT *
		  FROM mem_sns_login
		 WHERE mem_cd = #{mem_cd}
		   AND sns = 'K'
	</select>

	<select id="selectNaverInfo" resultType="Map">
		SELECT *
		  FROM mem_sns_login
		 WHERE mem_cd = #{mem_cd}
		   AND sns = 'N'
	</select>
	
	<delete id="kakaoDelete">
		DELETE mem_sns_login WHERE sns_email = #{sns_email} AND sns = 'K'
	</delete>
	
	<delete id="neverDelete">
		DELETE mem_sns_login WHERE sns_email = #{sns_email} AND sns = 'N'
	</delete>
	
	<select id="kakaoEmailCheck" resultType="sns">
		SELECT *
		  FROM mem_sns_login
		 WHERE sns_email = #{mem_email}
		   AND sns = 'K'
	</select>
	
	<select id="naverEmailCheck" resultType="sns">
		SELECT *
		  FROM mem_sns_login
		 WHERE sns_email = #{sns_email}
		   AND sns = 'N'
	</select>
</mapper>