<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.SysAdminDAO">

	<sql id="searchThr">
		<if test="searchType == 'n'.toString()">
			AND t.thr_name LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'l'.toString()">
			AND t.thr_loc LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'a'.toString()">
			AND t.thr_addr LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'i'.toString()">
			AND a.admin_id LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'p'.toString()">
			AND t.thr_tel LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'nlaip'.toString()">
			AND (
				t.thr_name LIKE '%' || #{keyword} || '%'
				OR
				t.thr_loc LIKE '%' || #{keyword} || '%'
				OR
				t.thr_addr LIKE '%' || #{keyword} || '%'
				OR
				a.admin_id LIKE '%' || #{keyword} || '%'
				OR
				t.thr_tel LIKE '%' || #{keyword} || '%'
				)
		</if>
	</sql>
	
	<sql id="searchKeywordMov">
 		<if test="keyword == 'f'.toString()"> 
	 		 <![CDATA[
				AND m.opendate > SYSDATE 
 			 ]]>  
 		</if>
		<if test="keyword == ''.toString()">
			<![CDATA[
				AND m.ENDDATE > SYSDATE 
 			 ]]> 
		</if>  
	</sql>
	
	<sql id="searchTypeMov">
		<if test="searchType == ''.toString()">
			ORDER BY r.reserve DESC NULLS last
		</if>
		<if test="searchType == 'r'.toString()">
			ORDER BY r.reserve DESC NULLS last
		</if>
		<if test="searchType == 'n'.toString()">
			ORDER BY m.movie_name ASC
		</if>
		<if test="searchType == 'd'.toString()">
			ORDER BY m.opendate ASC
		</if>
	</sql>
	
	<sql id="searchNotice">
		<if test="searchType == 'all'.toString()">
		</if>
		<if test="searchType == 'thr'.toString()">
			AND notice_thr != 'DW시네마'
		</if>
		<if test="searchType == 'thr'.toString()">
			AND notice_thr = 'DW시네마'
		</if>
		AND notice_title LIKE '%' || #{keyword} || '%'
	</sql>
	
	<sql id="searchFaq">
		<if test="searchType == 'all'.toString()">
		</if>
		<if test="searchType == 'reservation'.toString()">
			AND faq_div = '영화예매'
		</if>
		<if test="searchType == 'pay'.toString()">
			AND faq_div = '결제수단'
		</if>
		<if test="searchType == 'membership'.toString()">
			AND faq_div = '멤버십'
		</if>
		<if test="searchType == 'store'.toString()">
			AND faq_div = '스토어'
		</if>
		<if test="searchType == 'giftcard'.toString()">
			AND faq_div = '기프트카드'
		</if>
		AND  (
			 faq_title LIKE '%' || #{keyword} || '%'
			 OR
			 faq_content LIKE '%' || #{keyword} || '%'
			 )
	</sql>
	
	<sql id="searchQna">
		<if test="searchType == 'b'.toString()">
			AND que_type = '영화정보문의'
		</if>
		<if test="searchType == 'c'.toString()">
			AND que_type = '회원 및 포인트 문의'
		</if>
		<if test="searchType == 'd'.toString()">
			AND que_type = '예매/결제관련문의'
		</if>
		<if test="searchType == 'e'.toString()">
			AND que_type = '이벤트문의'
		</if>
		<if test="searchType == 'f'.toString()">
			AND que_type = '일반문의'
		</if>
		<if test="searchType == 'g'.toString()">
			AND que_type = '제안/건의'
		</if>
		<if test="searchType2 == 'b'.toString()">
			AND a.ans_content IS NULL
		</if>
		<if test="searchType2 == 'c'.toString()">
			AND a.ans_content IS NOT NULL
		</if>
		AND (
			que_title LIKE '%' || #{keyword} || '%'
			OR
			que_content LIKE '%' || #{keyword} || '%'
			OR
			writer_name LIKE '%' || #{keyword} || '%'
			)
	</sql>
	
	<sql id="searchEvent">
		<if test="searchType == '영화'.toString()">
			AND event_div = #{searchType}
		</if>
		<if test="searchType == '극장'.toString()">
			AND event_div = #{searchType}
		</if>
		<if test="searchType == '시사회/무대인사'.toString()">
			AND event_div = #{searchType}
		</if>
		AND (
			 event_title LIKE '%' || #{keyword} || '%'
			 OR
			 event_content LIKE '%' || #{keyword} || '%'
			)
	</sql>
	
	<sql id="searchPastEvent">
		AND (
			event_title LIKE '%' || #{keyword} || '%'
			)
	</sql>
	
	<select id="selectSearchTheaterList" resultType="theater">
		SELECT t.*, a.admin_id, a.admin_pwd
		  FROM theater t, admin a
		 WHERE t.admin_cd = a.admin_cd
		 <include refid="searchThr" />
		 ORDER BY t.gb_del ASC, t.regdate DESC
	</select>
	
	<select id="selectSearchTheaterListCount" resultType="int">
		SELECT COUNT(*)
		  FROM theater t, admin a
		 WHERE t.admin_cd = a.admin_cd
		 <include refid="searchThr" />
	</select>
	
	<select id="selectLocList" resultType="str">
		SELECT thr_loc
		  FROM loc
	</select>
	
	<insert id="insertAdmin">
		INSERT INTO admin
					(
					 admin_cd
					,admin_id
					,admin_pwd
					,thr_name
					)
			 VALUES
					(
					 'T' || (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM dual) || LPAD(admin_seq.nextval,4,0)
					,#{admin_id}
					,#{admin_pwd}
					,#{thr_name}
					)
 		<selectKey resultType="str" keyProperty="admin_cd" order="AFTER">
			SELECT 'T' || (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM dual d1) || LPAD(admin_seq.currval,4,0) admin_cd FROM dual d2
		</selectKey>
	</insert>
	
	<update id="updateAdmin" parameterType="admin">
		UPDATE admin 
		   SET admin_id = #{admin_id}
		      ,admin_pwd = #{admin_pwd}
		 WHERE thr_name = #{thr_name}
	</update>
	
	<insert id="insertTheater" parameterType="theater">
		INSERT INTO theater
					(
					 thr_name
					,thr_info 
					,thr_loc
					,thr_addr 
					,thr_addr_detail
					,thr_addr_post
					,thr_tel
					,regdate
					,thr_x
					,thr_y
					,admin_cd
					,gb_del
					)
			 VALUES (
			 		 #{thr_name}
			 		,#{thr_info}
			 		,#{thr_loc}
			 		,#{thr_addr}
			 		,#{thr_addr_detail}
			 		,#{thr_addr_post}
			 		,#{thr_tel}
			 		,SYSDATE
			 		,#{thr_x}
			 		,#{thr_y}
			 		,#{admin_cd}
			 		,'N'
			 		)		
	</insert>
	
	<update id="updateTheater" parameterType="theater">
		UPDATE theater
		   SET thr_info = #{thr_info}
		      ,thr_loc = #{thr_loc}
		      ,thr_tel = #{thr_tel}
		      ,thr_addr_post = #{thr_addr_post}
		      ,thr_addr = #{thr_addr}
		      ,thr_addr_detail = #{thr_addr_detail}
		 WHERE thr_name = #{thr_name}
	</update>
	
	<update id="updateDelTheater" parameterType="str">
		UPDATE theater
		   SET gb_del = 'Y'
		 WHERE thr_name = #{thr_name}
	</update>
	
	<select id="selectTheaterByName" parameterType="str" resultType="theater">
		SELECT t.*, a.admin_id, a.admin_pwd
		  FROM theater t, admin a
		 WHERE t.thr_name = #{thr_name}
		   AND t.thr_name = a.thr_name
	</select>
	
	<select id="selectGenreList" resultType="genre">
		SELECT *
		  FROM genre
	</select>
	
	<select id="selectGradeList" resultType="str">
		SELECT *
		  FROM movie_grade
	</select>
	
	<insert id="insertMovie">
		INSERT INTO movie 
					(
					 movie_cd
					,movie_name
					,movie_mainpic_path
					,movie_director
					,movie_length
					,movie_info
					,movie_actor
					,movie_grade
					,opendate
					,enddate				
					) 
			 VALUES (
			 		 #{movie_cd} || (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM dual) || LPAD(movie_seq.nextval,4,0)
			 		,#{movie_name}
			 		,#{movie_mainpic_path}
					,#{movie_director}
					,#{movie_length}
					,#{movie_info}
					,#{movie_actor}
					,#{movie_grade}
					,#{opendate}
					,#{enddate}
			 		)
		<selectKey resultType="str" keyProperty="movie_cd" order="AFTER">
			SELECT #{movie_cd} || (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM dual d1) || LPAD(movie_seq.currval,4,0) movie_cd FROM dual d2
		</selectKey>
	</insert>
	
	<insert id="insertGenre_c">
		INSERT INTO genre_c
					(
					 genre_cd
					,movie_cd
					)
			 VALUES (
					 #{genre}
					,#{movie_cd}			 
			 		)	
	</insert>
	
	<insert id="insertMovieType_c">
		INSERT INTO movie_type_c
					(
					 movie_cd
					,movie_type_cd		
					)
			 VALUES (
			 		 #{movie_cd}
			 		,#{movie_type_cd}
			 		)		
	</insert>
	
	<insert id="insertMoviePic">
		INSERT INTO movie_picture
					(
					 movie_cd
					,movie_pic_no
					,movie_pic_path
					)
			 VALUES	(
			 		 #{movie_cd}
			 		,MOVIE_PIC_SEQ.nextval
			 		,#{movie_pic_path}
					)
	</insert>
	
	<insert id="insertMoviePre">
		INSERT INTO movie_preview
					(
					 movie_cd
					,movie_pre_no
					,movie_pre_path
					)
			 VALUES	(
			 		 #{movie_cd}
			 		,MOVIE_preview_SEQ.nextval
			 		,#{movie_pre_path}
					)
	</insert>
	
	<select id="selectSearchMovieList" resultType="Map">
		SELECT m.*, nvl(reserve,0)
		FROM movie m, (
			SELECT m.movie_cd, count(*) reserve
			FROM movie m, screen s, reservation r
			WHERE 1=1
			AND m.movie_cd = s.movie_cd(+)
			AND s.screen_cd = r.screen_cd(+)
			AND TO_CHAR(resdate, 'YYYYMMDD') = TO_CHAR(sysdate-1,'YYYYMMDD')
			GROUP BY m.movie_cd
			) r
		WHERE m.movie_cd = r.movie_cd(+)
		 <include refid="searchKeywordMov" />
		 <include refid="searchTypeMov" />
	</select>
	
	<select id="selectSearchMovieListCount" resultType="int">
		SELECT count(*)
		FROM movie m, (
			SELECT m.movie_cd, count(*) reserve
			FROM movie m, screen s, reservation r
			WHERE 1=1
			AND m.movie_cd = s.movie_cd(+)
			AND s.screen_cd = r.screen_cd(+)
			AND TO_CHAR(resdate, 'YYYYMMDD') = TO_CHAR(sysdate-1,'YYYYMMDD')
			GROUP BY m.movie_cd
			) r
		WHERE m.movie_cd = r.movie_cd(+)
		 <include refid="searchKeywordMov" />
		 <include refid="searchTypeMov" />
	</select>
	
	<select id="selectReservRatio" resultType="double">
		SELECT round((SELECT COUNT(*) 
  		  			   				 FROM movie m1, reservation r1, screen s1 
 					 				WHERE s1.movie_cd = #{movie_cd}
 					 				  AND m1.movie_cd = s1.movie_cd
 		   							  AND s1.screen_cd = r1.screen_cd 
		  							  AND TO_CHAR(r1.resdate, 'YYYYMMDD')  = TO_CHAR(sysdate-1,'YYYYMMDD'))
			       				 / 
			       				(SELECT DECODE((SELECT count(*) FROM RESERVATION r WHERE TO_CHAR(resdate, 'YYYYMMDD')  = TO_CHAR(sysdate-1,'YYYYMMDD')), 0, 1, (SELECT count(*) FROM RESERVATION r WHERE TO_CHAR(resdate, 'YYYYMMDD')  = TO_CHAR(sysdate-1,'YYYYMMDD'))) FROM DUAL)
		       				, 2) * 100 reserveRatio
 					   FROM dual
	</select> 
	
	<select id="selectMovieByMovie_cd" resultType="Map">
		SELECT *
		  FROM movie m
		 WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="selectGenreByMovie_cd" resultType="str">
		SELECT genre_cd
		  FROM genre_c
		 WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="selectTypeByMovie_cd" resultType="str">
		SELECT movie_type_cd
		  FROM MOVIE_TYPE_C
		 WHERE movie_cd = #{movie_cd}
	</select>
	
	<select id="selectMoiveImgByMovie_cd" resultType="Map">
		SELECT *
		  FROM movie_picture
		 WHERE movie_cd = #{movie_cd}
	</select>
	
	<update id="updateMovie">
		UPDATE movie
		   SET movie_name = #{movie_name}
		      ,movie_director = #{movie_director}
		      ,movie_info = #{movie_info}
		      ,movie_actor = #{movie_actor}
		      ,movie_grade = #{movie_grade}
		      ,movie_length = #{movie_length}
		      ,enddate = #{enddate}
		      ,movie_mainpic_path = #{movie_mainpic_path}
		 WHERE movie_cd = #{movie_cd}
	</update>
	
	<delete id="deleteMovieGenre_c">
		DELETE FROM genre_c WHERE movie_cd = #{movie_cd}
	</delete>
	
	<delete id="deleteMovieType_c">
		DELETE FROM MOVIE_TYPE_C WHERE movie_cd = #{movie_cd}
	</delete>
	
	<select id="selectMovieDelImgByPno" resultType="str">
		SELECT movie_pic_path
		  FROM movie_picture
		 WHERE movie_pic_no = #{pno}
	</select>
	
	<delete id="deleteMovieImg">
		DELETE FROM MOVIE_PICTURE WHERE movie_pic_no = #{pno}
	</delete>
	
	<select id="selectMovieDelVideoByPno" resultType="str">
		SELECT movie_pre_path
		  FROM movie_preview
		 WHERE movie_pre_no = #{pre}
	</select>
	
	<delete id="deleteMovieVideo">
		DELETE FROM movie_preview WHERE movie_pre_no = #{pno}
	</delete>
	
	<select id="selectMoiveVideoByMovie_cd" resultType="Map">
		SELECT *
		  FROM movie_preview
		 WHERE movie_cd = #{movie_cd}
	</select>
	
	<insert id="insertProduct">
		INSERT INTO product
					(
					 PRODUCT_CD
					,PRODUCT_NAME
					,PRODUCT_CONTENT
					,PRODUCT_PRICE
					,PRODUCT_DIV
					,PRODUCT_PERIOD
					,PRODUCT_INFO
					,PRODUCT_PIC_PATH
					)
			 VALUES (
					 'P' || (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM dual) || LPAD(product_seq.nextval,4,0)
					,#{product_name}
					,#{product_content}
					,#{product_price}
					,#{product_div}
					,#{product_period}
					,#{product_info}
					,#{product_pic_path}
			 		)
		<selectKey resultType="str" keyProperty="product_cd" order="AFTER">
			SELECT 'P' || (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM dual d1) || LPAD(product_seq.currval,4,0) movie_cd FROM dual d2
		</selectKey>
	</insert>
	
	<update id="updateProduct">
		UPDATE product
		   SET product_name = #{product_name}
		      ,product_content = #{product_content}
		      ,product_price = #{product_price}
		      ,product_div = #{product_div}
		      ,product_period = #{product_period}
		      ,product_info = #{product_info}
		      ,product_pic_path = #{product_pic_path}
		 WHERE product_cd = #{product_cd}
	</update>
	
	<select id="selectNoticeList" resultType="notice">
		SELECT *
		  FROM notice
		 WHERE gb_del = 'N'
		  <include refid="searchNotice"/>
		 ORDER BY notice_no DESC
	</select>
	
	<select id="selectSearchNoticeListCount" resultType="int">
		SELECT COUNT(*)
		  FROM notice
		 WHERE gb_del = 'N'
		<include refid="searchNotice"/>
	</select>
	
	<select id="selectNoticeByNotice_no" resultType="notice">
		SELECT *
		  FROM notice
		 WHERE notice_no = #{notice_no}
	</select>
	
	<insert id="insertNotice">
		INSERT INTO notice
					(
					 notice_no
					,admin_cd
					,notice_title
					,notice_content
					,notice_thr
					,regdate
					,gb_del
					)
			 VALUES (
			 		 notice_seq.nextval
			 		,'S202307200022'
			 		,#{notice_title}
			 		,#{notice_content}
			 		,'DW시네마'
			 		,SYSDATE
			 		,'N'
			 		)		
	</insert>
	
	<update id="updateNotice">
		UPDATE notice
		   SET notice_title = #{notice_title}
		      ,notice_content = #{notice_content}
		      ,updatedate = SYSDATE
		 WHERE notice_no = #{notice_no}
	</update>
	
	<update id="deleteNotice">
		UPDATE notice
		   SET gb_del = 'Y'
		 WHERE notice_no = #{notice_no}
	</update>
	
	<select id="selectFaqList" resultType="faq">
		SELECT *
		  FROM faq
		 WHERE gb_del = 'N'
		 <include refid="searchFaq"/>
		 ORDER BY faq_no DESC
	</select>
	
	<select id="selectSearchFaqListCount" resultType="int">
		SELECT COUNT(*)
		  FROM faq
		 WHERE gb_del = 'N'
		 <include refid="searchFaq"/>
	</select>
	
	<insert id="insertFaq">
		INSERT INTO faq
					(
					 faq_no
					,faq_title
					,faq_content
					,regdate
					,gb_del
					,faq_div
					)
			 VALUES (
			 		 faq_seq.nextval
			 		,#{faq_title}
			 		,#{faq_content}
			 		,SYSDATE
			 		,'N'
			 		,#{faq_div}
			 		)
	</insert>
	
	<update id="updateFaq">
		UPDATE faq
		   SET faq_title = #{faq_title}
		      ,faq_content = #{faq_content}
		      ,faq_div = #{faq_div}
		      ,updatedate = SYSDATE
		 WHERE faq_no = #{faq_no}
	</update>
	
	<update id="deleteFaq">
		UPDATE faq
		   SET gb_del = 'Y'
		 WHERE faq_no = ${faq_no}
	</update>
	
	<select id="selectQnaList" resultType="qna">
		SELECT *
		  FROM question q, answer a
		 WHERE que_sel = 'S'
		   AND q.que_no = a.que_no(+)
		 <include refid="searchQna"/>
		 ORDER BY q.que_no DESC
	</select>
	
	<select id="selectSearchQnaListCount" resultType="int">
		SELECT COUNT(*)
		  FROM question q, answer a
		 WHERE que_sel = 'S'
		   AND q.que_no = a.que_no(+)
		 <include refid="searchQna"/>
	</select>
	
	<select id="selectQnaByQue_no" resultType="qna">
		SELECT *
		  FROM question
		 WHERE que_no = #{que_no}
	</select>
	
	<select id='selectAnsByQue_no' resultType="ans">
		SELECT *
		  FROM answer
		 WHERE que_no = #{que_no}
	</select>
	
	<insert id="insertAns">
		INSERT INTO answer
		     VALUES (#{que_no}, 'S202307200022', #{ans_content}, SYSDATE)   
	</insert>
	
	<update id="updateAns">
		UPDATE answer
		   SET ans_content = #{ans_content}
		 WHERE que_no = #{que_no}
	</update>
	
	<select id="selectEventList" resultType="event">
		SELECT *
		  FROM event
		 WHERE enddate <![CDATA[>=]]> SYSDATE
		 <include refid="searchEvent"/>
		 ORDER BY startdate DESC
	</select>
	
	<select id="selectSearchEventListCount" resultType="int">
		SELECT COUNT(*)
		  FROM event
		 WHERE enddate <![CDATA[>=]]> SYSDATE
		 <include refid="searchEvent"/>
	</select>
	
	<select id="selectmovEventList" resultType="event">
		SELECT *
		  FROM (
		  		SELECT * 
		  		  FROM event 
		  		 WHERE event_div = '영화' 
		  		 ORDER BY startdate DESC 
		  		)
		  WHERE ROWNUM <![CDATA[<=]]> 4	
	</select>
	
	<select id="selectThrEventList" resultType="event">
		SELECT *
 		  FROM (
  				SELECT * 
  		 		  FROM event 
  				 WHERE event_div = '극장' 
  		 		 ORDER BY startdate DESC 
  				)
 		 WHERE ROWNUM <![CDATA[<=]]> 4	
	</select>
	
	<select id="selectactorEventList" resultType="event">
		SELECT *
		  FROM (
		  		SELECT * 
		  		  FROM event 
		  		 WHERE event_div = '시사회/무대인사' 
		  		 ORDER BY startdate DESC 
		  		)
		  WHERE ROWNUM <![CDATA[<=]]> 4			
	</select>
	
	<insert id="insertEvent">
		INSERT INTO event
		            (
		           	 event_no
		           	,relate_cd
		           	,event_div
		           	,startdate
		           	,enddate
		           	,event_title
		           	,event_content
		           	,event_pic_path
		           	,regdate
		           	,event_thum_path
		            )
		     VALUES (
		     		 event_seq.nextval
		     		,#{relate_cd}
		     		,#{event_div}
		     		,#{startdate}
		     		,#{enddate}
		     		,#{event_title}
		     		,#{event_content}
		     		,#{event_pic_path}
		     		,SYSDATE
		     		,#{event_thum_path}
		      		)      
 		<selectKey resultType="int" keyProperty="event_no" order="AFTER">
			select event_seq.currval from dual
		</selectKey>
	</insert>
	
	<select id="selectEventByEvent_no" resultType="event">
		SELECT *
		  FROM event
		 WHERE event_no = #{event_no}
	</select>
	
	<update id="updateEventContent">
		UPDATE event
		   SET event_content = #{newContent} 
		 WHERE event_no = #{event_no}
	</update>
	
	<update id="updateEvent">
		UPDATE event
		   SET relate_cd = #{relate_cd}
		      ,event_div = #{event_div}
		      ,enddate = #{enddate}
		      ,event_title = #{event_title}
		      ,event_content = #{event_content}
		      ,event_pic_path = #{event_pic_path}
		      <if test="event_thum_path != null">
		      ,event_thum_path = #{event_thum_path}
		      </if>
		 WHERE event_no = #{event_no}
	</update>
	
	<delete id="deleteEvent">
		DELETE 
		  FROM event
		 WHERE event_no = #{event_no}
	</delete>
	
	<select id="selectEventListforPast" resultType="event">
		SELECT *
		  FROM event e, winner_board w
		 WHERE enddate <![CDATA[<]]> SYSDATE
		   AND e.event_no = w.event_no(+)
		 <include refid="searchPastEvent"/>
	</select>
	
	<select id="selectEventListforPastCount" resultType="int">
		SELECT COUNT(*)
		  FROM event
		 WHERE enddate <![CDATA[<]]> SYSDATE
		 <include refid="searchPastEvent"/>
	</select>
	
	<insert id="insertWinnerBoard">
		INSERT INTO winner_board
		 	 VALUES (
		 	 		 #{event_no}
		 	 		,#{winner_content}
		 	 		,SYSDATE
		 	 		)
	</insert>
	
	<select id="selectWbByEvent_no" resultType="wb">
		SELECT *
		  FROM winner_board
		 WHERE event_no = #{event_no}
	</select>
	
	<update id="updateWinnerBoard">
		UPDATE winner_board
		   SET winner_content = #{winner_content}
		 WHERE event_no = #{event_no}
	</update>
	
	<delete id="deleteWinnerBoard">
		DELETE
		  FROM winner_board
		 WHERE event_no = #{event_no}
	</delete>
	
	<select id="selectNoticeForMain" resultType="notice">
		SELECT *
		  FROM (
		  		SELECT *
		  		  FROM notice
		 		 WHERE gb_del = 'N'
		   		   AND notice_thr = 'DW시네마'
		   		 ORDER BY notice_no DESC
		  		)
		   WHERE ROWNUM <![CDATA[<=]]> 5
	</select>
	
	<select id="selectQnaForMain" resultType="qna">
		SELECT *
  		  FROM (
  		 		SELECT q.*, a.ANS_CONTENT
		 		  FROM QUESTION q , ANSWER a 
		 		 WHERE q.QUE_NO = a.QUE_NO(+) 
		  		   AND QUE_SEL = 'S'
			 	 ORDER BY q.QUE_NO DESC
			    )
 		 WHERE ROWNUM <![CDATA[<=]]> 5
	</select>
	
	<select id="selectEventForMainPage" resultType="event">
		SELECT *
		  FROM (
		  		SELECT *
		  		  FROM event
		  		 ORDER BY regdate DESC
		  	    )
		 WHERE ROWNUM <![CDATA[<=]]> 4
	</select>
	
	<select id="selectCurrentMovieForMain" resultType="movie">
		SELECT *
		  FROM (
		  		SELECT *
		  		  FROM movie
		  		 WHERE opendate <![CDATA[<=]]> SYSDATE
		  		   AND enddate <![CDATA[>]]> SYSDATE
		  		 ORDER BY opendate DESC
		  		)
		 WHERE ROWNUM <![CDATA[<=]]> 8
	</select>
</mapper>