<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.SysAdminDAO">

	<sql id="search">
		<if test="searchType == 't'.toString()">
			AND title LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'w'.toString()">
			AND writer LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'c'.toString()">
			AND content LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'tc'.toString()">
			AND (
				title LIKE '%' || #{keyword} || '%' 
				OR 
				content LIKE '%' || #{keyword} || '%'
				)
		</if>
		<if test="searchType == 'cw'.toString()">
			AND (
				content LIKE '%' || #{keyword} || '%' 
				OR 
				writer LIKE '%' || #{keyword} || '%'
				)
		</if>
		<if test="searchType == 'tcw'.toString()">
			AND (
				title LIKE '%' || #{keyword} || '%' 
				OR
				content LIKE '%' || #{keyword} || '%' 
				OR 
				writer LIKE '%' || #{keyword} || '%'
				)
		</if>
	</sql>
	
	<select id="selectSearchTheaterList" resultType="theater">
		SELECT t.*, a.admin_id, a.admin_pwd
		  FROM theater t, admin a
		 WHERE t.admin_cd = a.admin_cd
		 <include refid="search" />
		 ORDER BY regdate DESC
		<!-- ORDER BY --> 
	</select>
	
	<select id="selectSearchTheaterListCount" resultType="int">
		SELECT COUNT(*)
		  FROM theater
		 WHERE 1=1
		 <include refid="search" />
	</select>
	
	<select id="selectLocList" resultType="str">
		SELECT thr_loc
		  FROM loc
	</select>
	
	<insert id="insertAdmin">
		INSERT INTO admin
					(
					 admin_cd
					,admin_id
					,admin_pwd
					)
			 VALUES
					(
					 'T' || (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM dual) || LPAD(admin_seq.nextval,4,0)
					,#{admin_id}
					,#{admin_pwd}
					)
 		<selectKey resultType="str" keyProperty="admin_cd" order="AFTER">
			SELECT 'T' || (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM dual d1) || LPAD(admin_seq.currval,4,0) admin_cd FROM dual d2
		</selectKey>
	</insert>
	
	<update id="updateAdmin" parameterType="admin">
		UPDATE admin 
		   SET admin_id = #{admin_id}
		      ,admin_pwd = #{admin_pwd}
		 WHERE thr_name = #{thr_name}
	</update>
	
	<insert id="insertTheater" parameterType="theater">
		INSERT INTO theater
					(
					 thr_name 
					,thr_loc
					,thr_addr 
					,thr_addr_detail
					,thr_addr_post
					,thr_tel
					,regdate
					,thr_x
					,thr_y
					,admin_cd
					,gb_del
					)
			 VALUES (
			 		 #{thr_name}
			 		,#{thr_loc}
			 		,#{thr_addr}
			 		,#{thr_addr_detail}
			 		,#{thr_addr_post}
			 		,#{thr_tel}
			 		,SYSDATE
			 		,#{thr_x}
			 		,#{thr_y}
			 		,#{admin_cd}
			 		,'N'
			 		)		
	</insert>
	
	<update id="updateTheater" parameterType="theater">
		UPDATE theater
		   SET thr_loc = #{thr_loc}
		      ,thr_tel = #{thr_tel}
		      ,thr_addr_post = #{thr_addr_post}
		      ,thr_addr = #{thr_addr}
		      ,thr_addr_detail = #{thr_addr_detail}
		 WHERE thr_name = #{thr_name}
	</update>
	
	<update id="updateDelTheater" parameterType="str">
		UPDATE theater
		   SET gb_del = 'Y'
		 WHERE thr_name = #{thr_name}
	</update>
	
	<select id="selectTheaterByName" parameterType="str" resultType="theater">
		SELECT t.*, a.admin_id, a.admin_pwd
		  FROM theater t, admin a
		 WHERE t.thr_name = #{thr_name}
		   AND t.thr_name = a.thr_name
	</select>
	
	
</mapper>