<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.TheaterDAO">
	<select id="selectThrByLoc" resultType="str">
		SELECT thr_name
		FROM theater
		WHERE thr_loc = #{thr_loc}
		AND gb_del = 'N'
	</select>
	
	<select id="selectTheaterInfo" resultType="theater">
		SELECT *
		FROM theater
		WHERE thr_name = #{thr_name}
	</select>
	
	<select id="selectLikeThrCount" resultType="int">
		SELECT COUNT(*)
		FROM mem_like_theater
		WHERE mem_cd = #{mem_cd}
	</select>
	
	<select id="selectThisThrLikeYN" resultType="int">
		SELECT COUNT(*)
		FROM mem_like_theater
		WHERE mem_cd = #{mem_cd}
		AND thr_name = #{thr_name}
	</select>
	
	<delete id="deleteLikeThr">
		DELETE mem_like_theater WHERE mem_cd = #{mem_cd} AND thr_name = #{thr_name}
	</delete>
	
	<insert id="insertLikeThr">
		INSERT INTO mem_like_theater (mem_cd, thr_name) VALUES (#{mem_cd}, #{thr_name})
	</insert>
	
	<select id="selectDayMovieList" resultType="str">
		SELECT movie_cd
		FROM theater t, house h, screen s
		WHERE t.thr_name = h.thr_name
		AND h.house_no = s.house_no
		AND to_char(startdate, 'yyyyMMdd') = to_char(#{date}, 'yyyyMMdd')
		AND startdate > sysdate
		AND h.thr_name = #{thr_name}
		GROUP BY movie_cd
	</select>
	
	<select id="selectDayHouseList" resultType="str">
		SELECT s.house_no
		FROM theater t, house h, screen s
		WHERE t.thr_name = h.thr_name
		AND h.house_no = s.house_no
		AND t.thr_name = #{thr_name}
		AND movie_cd = #{movie_cd}
		AND to_char(startdate, 'yyyyMMdd') = to_char(#{date}, 'yyyyMMdd')
		AND startdate > sysdate
		GROUP BY s.house_no
		ORDER BY house_no
	</select>
	
	<select id="selectHouseScreenList" resultType="Map">
		SELECT s.house_no, s.screen_cd, s.movie_cd, startdate, movie_length, movie_grade, movie_type_des, house_row, house_column, nvl(reserver, 0) reserver, movie_name, house_name
		FROM theater t, house h, screen s, movie m, movie_type mt,
				(
					SELECT count(*) reserver, screen_cd 
					FROM reservation
					WHERE gb_cancel = 'N'
					GROUP BY screen_cd
				) r
		WHERE t.thr_name = h.thr_name
		AND h.house_no = s.house_no
		AND s.movie_cd = m.movie_cd
		AND mt.movie_type_cd = s.movie_type_cd
		AND r.screen_cd(+) = s.screen_cd
		AND t.thr_name = #{thr_name}
		AND s.movie_cd = #{movie_cd}
		AND s.house_no = #{house_no}
		AND to_char(startdate, 'yyyyMMdd') = to_char(#{date}, 'yyyyMMdd')
		AND startdate > sysdate
		ORDER BY startdate
	</select>
	
	<select id="selectThrNotice" resultType="Map">
		SELECT *
		FROM notice n, theater t
		WHERE n.notice_thr = t.thr_name
		AND notice_thr != 'DW시네마'
		ORDER BY n.regdate DESC
	</select>
	
	<select id="selectThisThrNotice" resultType="notice">
		SELECT *
		FROM notice n
		WHERE notice_thr = #{thr_name}
		ORDER BY n.regdate DESC
	</select>
	
	<select id="selectThrEvent" resultType="event">
		SELECT *
		FROM event
		WHERE event_div = '극장'
		AND enddate >= sysdate
		ORDER BY regdate DESC
	</select>
	
	<select id="selectThisThrEvent4" resultType="event">
		SELECT *
		FROM (
			SELECT e.*, rownum rnum
			FROM (
				SELECT e.*, thr_name
				FROM event e, theater t
				WHERE e.relate_cd = t.admin_cd
				AND event_div = '극장'
				AND enddate >= sysdate
				AND thr_name = #{thr_name}
				ORDER BY e.regdate DESC
				) e)
		WHERE rnum <![CDATA[<=]]> 4
	</select>
	
	<select id="getAllTheaterList" resultType="theater">
		SELECT *
		  FROM loc
	</select>
	
	<select id="searchTheaterName" resultType="theater">
		SELECT * 
		  FROM theater
		 WHERE thr_loc = #{selectLocData}
		   AND gb_del = 'N'
	</select>
	
	<select id="selectMemLikeTheater" resultType="Map">
		SELECT mlt.thr_name, t.thr_loc 
		  FROM mem_like_theater mlt, theater t
		 WHERE mem_cd = #{mem_cd}
		   AND mlt.thr_name = t.thr_name 
	</select>
</mapper>