<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.MemberDAO">

	<select id="selectMemberById" parameterType="str" resultType="member">
	<!-- MemberDAO.selectMemberById -->
		SELECT *
		  FROM member
		 WHERE id = #{id}
	</select>

	<select id="selectAllMemberList" resultType="member">
		SELECT *
		  FROM member
	 	 ORDER BY regdate DESC
	</select>
	
	<select id="insertMember" parameterType="member">
		INSERT INTO member
		VALUES (#{id}, #{pwd}, #{email}, #{picture}, 1, SYSDATE, #{phone}, #{name}, 'SYSTEM', NULL, #{authority})
	</select>
	
	<update id="updateMember" parameterType="member">
		UPDATE member
		   SET
		   		pwd 		= #{pwd}
		   	   ,email 		= #{email}
		   	   ,phone 		= #{phone}
		   	   ,name 		= #{name}
		   	   ,picture 	= #{picture}
		   	   ,authority 	= #{authority}
		 WHERE id = #{id}  	   
	</update>
	
	<delete id="deleteMember" parameterType="str">
		DELETE FROM member
		WHERE id = #{id}	
	</delete>
	
	<update id="disabledMember" parameterType="str">
		UPDATE member
		   SET enabled = 0
		 WHERE id = #{id}
	</update>
	
	<update id="enabledMember" parameterType="str">
		UPDATE member
		   SET enabled = 1
		 WHERE id = #{id}
	</update>
	
	<sql id="search">
		<if test="'i'.toString().equals(searchType)">
			AND id LIKE '%' || #{keyword} || '%'
		</if>
        <if test="'p'.toString().equals(searchType)">
	        AND phone LIKE '%' || #{keyword} || '%'
        </if>
        <if test="'e'.toString().equals(searchType)">
	        AND email LIKE '%' || #{keyword} || '%'
        </if>
	</sql>
	
	<select id="selectSearchMemberList" resultType="member">
		SELECT *
		  FROM member
		 WHERE 1=1
	        <include refid="search" />
	</select>
	
	<select id="selectSearchMemberListCount" resultType="int">
		SELECT COUNT(*)
		  FROM member
		 WHERE 1=1
		 <include refid="search" />
	</select>
</mapper>