@charset "UTF-8";
/*!
 * CSS 파일 이름 : member
 * 작성자 : 신철헌
 * 최초 작성일 : 2023-06-29
 * member CSS 파일은 부트스트랩 5.2.3 '커스터마이징(Customizing)' 및 자체 CSS
 * 로 작업한 프론트 입니다.
 */
 @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
 @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
 * {
     transition: all .3s;
 }
 html, body, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, ul, ol, li, dl, dt, dd, table, caption, tbody, tfoot, thead, tr, th, td, fieldset, fo7m, label, legend, input, button, textarea, select {
     margin: 0;
     padding: 0;
 }
 .screen_out {
     overflow: hidden;
     position: absolute;
     width: 0;
     height: 0;
     line-height: 0;
     text-indent: -9999px;
 }
 .movieIcon {
   display: inline-flex;
   width: 18px;
   height: 18px;
   font-size: 0;
   line-height: 0;
 }
 i.movieIcon {
   display: inline-flex;
   font-size: 0;
 }
 i.movieIcon.etc.ageAll {
     overflow: hidden;
     width: 20px;
     height: 20px;
     background: rgba(0,0,0,0) url("data:image/svg+xml;charset=UTF-8, %3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23ageAll)'%3e%3cpath d='M17.745 20H2.256A2.256 2.256 0 0 1 0 17.745V2.255A2.255 2.255 0 0 1 2.256 0h15.49A2.253 2.253 0 0 1 20 2.255v15.49A2.254 2.254 0 0 1 17.745 20Z' fill='%23269C56'/%3e%3cpath d='M5.74 15.076 5.5 13.56H3.748l-.24 1.516H1.24v-.027L3.383 4.898h2.47l2.144 10.145v.027l-2.256.006ZM4.627 8.18l-.56 3.462h1.116L4.626 8.18ZM8.402 15.078V4.904h2.264v8.136h2.663v2.038H8.402ZM13.808 15.076V4.904h2.263v8.136h2.664v2.038l-4.927-.002Z' fill='%23fff'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='ageAll'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center/contain scroll no-repeat;
     border-radius: 2px
 }
 i.movieIcon.etc.age12 {
     overflow: hidden;
     width: 20px;
     height: 20px;
     background: rgba(0,0,0,0) url("data:image/svg+xml;charset=UTF-8, %3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23age12)'%3e%3cpath d='M17.745 20H2.255A2.256 2.256 0 0 1 0 17.745V2.255A2.255 2.255 0 0 1 2.255 0h15.49A2.255 2.255 0 0 1 20 2.255v15.49A2.256 2.256 0 0 1 17.745 20Z' fill='%23E9B62F'/%3e%3cpath d='M4.328 16.891v-9.94H3.227L4.65 3.108h2.761V16.89H4.328ZM16.303 3.109H8.765a.308.308 0 0 0-.307.307v4.165h3.013V5.706h2.13v1.659l-5.258 7.488v2.022h8.228v-2.69h-4.396l3.842-5.394c.12-.17.216-.32.29-.443.068-.12.128-.243.18-.37.05-.127.083-.26.098-.397.02-.173.029-.348.027-.522V3.416a.307.307 0 0 0-.309-.307Z' fill='%23fff'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='age12'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center/contain scroll no-repeat;
     border-radius: 2px
 }
 i.movieIcon.etc.age15 {
     overflow: hidden;
     width: 20px;
     height: 20px;
     background: rgba(0,0,0,0) url("data:image/svg+xml;charset=UTF-8, %3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23age15)'%3e%3cpath d='M17.745 20H2.255A2.256 2.256 0 0 1 0 17.745V2.255A2.255 2.255 0 0 1 2.255 0h15.49A2.253 2.253 0 0 1 20 2.255v15.49A2.254 2.254 0 0 1 17.745 20Z' fill='%23DD742F'/%3e%3cpath d='M4.318 16.891v-9.94H3.217L4.643 3.11h2.761V16.89H4.318ZM16.313 7.815h-4.834v-2.02h5.052V3.107H8.45v7.342h5.177v3.85h-2.183v-1.812H8.45v4.095a.306.306 0 0 0 .307.308h7.556a.306.306 0 0 0 .308-.308V8.125a.307.307 0 0 0-.308-.31Z' fill='%23fff'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='age15'%3e%3cpath fill='%23fff' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center/contain scroll no-repeat;
     border-radius: 2px
 }
 i.movieIcon.etc.age18 {
     overflow: hidden;
     width: 20px;
     height: 20px;
     background: rgba(0,0,0,0) url("data:image/svg+xml;charset=UTF-8, %3csvg width='20' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23age18)'%3e%3cpath d='M17.745 20.002H2.255A2.254 2.254 0 0 1 0 17.747V2.255A2.253 2.253 0 0 1 2.255 0h15.49A2.253 2.253 0 0 1 20 2.255v15.492a2.254 2.254 0 0 1-2.255 2.255Z' fill='%23D92C36'/%3e%3cpath d='M4.237 16.891v-9.94H3.136l1.426-3.842h2.76V16.89H4.237ZM16.666 11.244a1.393 1.393 0 0 0-.125-.432.956.956 0 0 0-.244-.308c-.121-.096-.25-.18-.388-.251l-.919-.434.92-.487c.24-.133.442-.326.586-.56.13-.288.19-.603.17-.92V3.417a.307.307 0 0 0-.307-.307H8.694a.308.308 0 0 0-.309.307v4.437a1.95 1.95 0 0 0 .172.91c.142.238.344.434.586.569l.92.487-.92.434a1.332 1.332 0 0 0-.623.594c-.12.323-.174.667-.159 1.012v4.725a.307.307 0 0 0 .31.307h7.718a.308.308 0 0 0 .308-.307v-4.725a4.483 4.483 0 0 0-.03-.615ZM13.64 14.04a.31.31 0 0 1-.308.308h-1.587a.31.31 0 0 1-.31-.308v-2.758a.307.307 0 0 1 .31-.308h1.584a.308.308 0 0 1 .308.308l.003 2.758Zm0-5.677a.31.31 0 0 1-.308.309h-1.587a.31.31 0 0 1-.31-.31v-2.41a.307.307 0 0 1 .31-.308h1.584a.308.308 0 0 1 .308.308l.003 2.41Z' fill='%23fff'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='age18'%3e%3cpath fill='%23fff' d='M0 0h20v20.002H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center/contain scroll no-repeat;
     border-radius: 2px
 }
 i.movieIcon.etc.ageNotyet {
     overflow: hidden;
     width: 20px;
     height: 20px;
     background: rgba(0,0,0,0) url("data:image/svg+xml;charset=UTF-8, %3csvg width='20' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.745 20.002H2.255A2.254 2.254 0 0 1 0 17.747V2.255A2.253 2.253 0 0 1 2.255 0h15.49A2.253 2.253 0 0 1 20 2.255v15.492a2.254 2.254 0 0 1-2.255 2.255Z' fill='%23666'/%3e%3cpath d='M9.018 14.79V5.88h-1.17v8.91h1.17Zm-3.91-3.2h-1.88V7.63h1.88v3.96Zm1.18-4.89h-4.23v5.82h4.23V6.7Zm11.442 6.31c0-1.11-1.15-1.79-3.12-1.79-1.97 0-3.12.68-3.12 1.79 0 1.08 1.15 1.76 3.12 1.76 1.97 0 3.12-.68 3.12-1.76Zm-7.12-5.54h1.77c-.07 1.27-.89 2.21-2.14 2.66.24.3.46.6.7.91.86-.3 1.8-1.14 2.07-2 .38.81 1.25 1.48 1.93 1.74.21-.31.43-.61.63-.92-.97-.32-1.87-1.15-1.96-2.39h1.69v-.96h-4.69v.96Zm4.55 1.48h1.34v2.23h1.17v-5.3H16.5v2.13h-1.34v.94Zm-.55 3.21c1.23 0 1.93.31 1.93.85 0 .52-.7.83-1.93.83-1.21 0-1.92-.31-1.92-.83 0-.54.71-.85 1.92-.85Z' fill='%23fff'/%3e%3c/svg%3e") center/contain scroll no-repeat;
     border-radius: 2px
 }
 body {
     overflow: auto;
     overflow-y: scroll;
     letter-spacing: 0;
     line-height: 1.5;
     font-size: 15px;
     color: #444;
     font-weight: 400;
     font-family: 'Nanum Gothic',sans-serif;
 }
 ul, ol, li {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 a {
     text-decoration: none;
 }
 button {
     border: transparent;
     background: transparent;
 }
 .login-container {
    margin: 90px auto;
    position: relative;
    width: 1092px;
    z-index: 10
}

@media screen and (max-width: 1025px) {
    .login-container {
        margin:0 auto;
        width: 510px
    }
}

.login {
    background-color: #fff;
    box-sizing: border-box;
    color: #4f4f4f;
    min-height: 700px;
    padding: 47px 50px 25px;
    position: relative;
    width: 510px
}

.login__pmang-logo {
    background: url(../img/login/pmang.png) no-repeat;
    height: 80px;
    position: absolute;
    right: 130px;
    text-indent: -5000px;
    top: 318px;
    width: 194px
}

.login__close {
    background: url(../img/login/icon-x.png) no-repeat;
    display: block;
    height: 23px;
    position: absolute;
    right: 20px;
    text-indent: -5000px;
    top: 20px;
    width: 23px
}

.login__header {
    color: #4aa8d8;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -.04em;
    padding-bottom: 15px
}

.login__field {
    margin-top: 18px;
    position: relative
}

.login__field--remember-id {
    margin-top: 23px
}

.login__input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    box-sizing: border-box;
    caret-color: #4aa8d8;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    height: 53px;
    line-height: 51px;
    position: relative;
    width: 100%;
    z-index: 40
}

.login__input:focus {
    border-bottom-color: #4aa8d8;
    border-bottom-width: 2px;
    outline: 0
}

.login__input::-ms-clear,.login__input::-ms-reveal {
    display: none;
    height: 0;
    width: 0
}

.login__input:-webkit-autofill,.login__input:-webkit-autofill:active,.login__input:-webkit-autofill:focus,.login__input:-webkit-autofill:hover {
    font-size: 17px;
    font-weight: 400;
    transition: background-color 5000s ease-in-out 0
}

.login__input:-webkit-autofill:first-line {
    font-size: 17px
}

.login__label {
    font-size: 13px;
    left: 0;
    position: absolute;
    top: -8px;
    transition: all .15s;
    z-index: 40
}

.login__input:placeholder-shown+.login__label,.login__input:placeholder-shown+input+.login__label {
    font-size: 17px;
    top: 18px
}

.login__input:-webkit-autofill+.login__label,.login__input:-webkit-autofill+input+.login__label,.login__input:active+.login__label,.login__input:active+input+.login__label,.login__input:focus+.login__label,.login__input:focus+input+.login__label {
    font-size: 13px;
    top: -8px
}

.login__checked {
    /*background: url(../img/login/icon-checkbox.png) no-repeat;*/
    height: 21px;
    position: absolute;
    right: -2px;
    top: 16px;
    width: 21px;
    z-index: 40
}

.login__checked--true {
    background-position: 0 100%
}

.login__invalid-msg {
    color: #4aa8d8;
    font-size: 14px;
    letter-spacing: -.01em;
    padding-top: 9px
}

.login__remember-id {
    left: -30px;
    position: absolute;
    top: 0;
    visibility: hidden
}

.login__remember-id:checked+label:before {
    background-position: 0 100%
}

.login__remember-id-label {
    color: #4f4f4f;
    font-size: 15px;
    letter-spacing: -.01em;
    vertical-align: top
}

.login__remember-id-label:before {
    /*background: url(../img/login/icon-checkbox.png) no-repeat;*/
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 7px;
    vertical-align: top;
    width: 16px
}

.login__button {
    background-color: #aab1b7;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    letter-spacing: -.01em;
    line-height: 58px;
    margin-top: 36px;
    text-align: center
}

.login__button--active {
    background-color: #4aa8d8;
    font-weight: 600
}

.login__account {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -.02em;
    padding-bottom: 32px;
    padding-top: 14px;
    position: relative
}

.login__find-id,.login__find-pw {
    color: #4aa8d8
}

.login__sign-up {
    color: #4aa8d8;
    position: absolute;
    right: -1px;
    top: 15px
}

.login__divider {
    height: 15px;
    position: relative
}

.login__divider:before {
    background-color: #eaeaea;
    content: "";
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 7px;
    width: 100%
}

.login__or {
    background-color: #fff;
    color: #888;
    display: block;
    font-size: 15px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 46px
}

.login__auth-by {
    *zoom:1;padding-bottom: 15px;
    padding-top: 19px;
    text-align: center
}

.login__auth-by:after {
    clear: both;
    content: "";
    display: table
}

.login__auth {
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    color: #4f4f4f;
    display: block;
    font-size: 15px;
    height: 52px;
    letter-spacing: -.02em;
    margin: 0 0 14px;
    padding-top: 14px;
    position: relative;
    width: 410px
}
.login__auth:last-child {
    margin-bottom: 0
}
.login__icon-naver {
    background: url(../img/login/icon-naver.png) no-repeat;
    height: 19px;
    margin-right: 13px;
    top: -0;
    width: 20px
}
.login__icon-facebook,.login__icon-naver {
    display: inline-block;
    position: relative;
    vertical-align: top
}
.login__icon-facebook {
    background: url(../img/login/icon-facebook.png) no-repeat;
    height: 22px;
    margin-right: 14px;
    top: -0;
    width: 12px
}

.login__icon-google {
    background: url(../img/login/icon-google.png) no-repeat;
    display: inline-block;
    height: 20px;
    margin-right: 12px;
    position: relative;
    top: -0;
    vertical-align: top;
    width: 20px
}
.simple-footer {
    border-top: 1px solid #ced0d5;
    border-top: 1px solid rgba(67,67,67,.5);
    bottom: 0;
    box-sizing: border-box;
    height: 56px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 5
}
@media screen and (max-width: 1025px) {
    .simple-footer {
        border-top:none !important
    }
}
.simple-footer__copyright {
    color: #888;
    font-size: 13px;
    padding-top: 20px;
    text-align: center
}
.modal {
    position: fixed;
    z-index: 500
}
.modal,.modal__shadow {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}
.modal__shadow {
    background-color: #fff;
    opacity: .55;
    position: absolute
}
.recaptcha-container {
    margin: 90px auto;
    position: relative;
    width: 1092px;
    z-index: 10
}
@media screen and (max-width: 1025px) {
    .recaptcha-container {
        margin:0 auto;
        width: 510px
    }
}
.recaptcha {
    box-sizing: border-box;
    height: 700px;
    position: relative;
    width: 510px
}
.recaptcha__placeholder {
    background-color: #fff;
    border: 1px solid #d6d6d6;
    box-shadow: 0 1px 3px 2px rgba(0,0,0,.07);
    box-sizing: border-box;
    height: 279px;
    left: 50%;
    margin: 0 0 0 -174px;
    padding: 21px 22px 0;
    position: absolute;
    top: 126px;
    width: 348px
}
.recaptcha__header {
    color: #0a0a0a;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -.01em
}
.recaptcha__close {
    background: url(../img/login/icon-x-sm.png) no-repeat;
    display: block;
    height: 16px;
    position: absolute;
    right: 23px;
    text-indent: -5000px;
    top: 20px;
    width: 16px
}
.recaptcha__message {
    color: #4f4f4f;
    font-size: 14px;
    padding: 23px 0 18px
}
.recaptcha__button {
    background-color: #aab1b7;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: -.02em;
    margin-top: 32px;
    padding-top: 10px;
    text-align: center;
    width: 71px
}
 #footer {
    width: 100%;
    padding: 1rem 0 2rem!important;
    border-top: 1px solid #ebebeb;
    background-color: #f8f8f8;
}
#footer .footer-info {
    text-align: center;
    font-size: .8667em;
    letter-spacing: 0
}
#footer .footer-info address {
    display: inline-block;
    vertical-align: top
}
#footer .footer-info p {
    display: inline-block;
    vertical-align: top
}
#footer .footer-info p.copy {
    display: block
}