@charset "UTF-8";
/*!
 * CSS 파일 이름 : seatbooking
 * 작성자 : 신철헌
 * 최초 작성일 : 2023-06-26
 * seatbooking CSS 파일은 부트스트랩 5.2.3 '커스터마이징(Customizing)' 및 자체 CSS
 * 로 작업한 프론트 입니다.
 */

.seatbooking-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}
.seatbooking-inner  {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.seatbooking-wrapper .select-table {
    background: #f2f4f5;
    border: 1px solid #d8d9db;
    border-top: none;
    border-bottom: none;
}
.seatbooking-wrapper .select-table .seat-count {
    padding: 10px 0 10px 20px;
}
.seatbooking-wrapper .select-table .seat-count:after,
.seatbooking-wrapper .select-table .seat-count:before {
    content: '';
    display: table;
}
.seatbooking-wrapper .select-table .seat-count .cell {
    float: left;
    width: 25%;
}
.seatbooking-wrapper .select-table .seat-count .cell .txt {
    float: left;
    padding: 0 10px 0 0;
    line-height: 32px;
}
.seatbooking-wrapper .select-table .seat-count .cell .count {
    float: left;
    width: 106px;
}
.seatbooking-wrapper .select-table .seat-count .cell .count .down {
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 1.2em;
}
.seatbooking-wrapper .select-table .seat-count .cell .count .up {
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    font-size: 1.2em;
}
.seatbooking-wrapper .select-table .seat-count .cell .count .number {
    position: relative;
    float: left;
    width: 42px;
}
.seatbooking-wrapper .select-table .seat-count .cell .count button {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    font-family: Roboto,Dotum,'돋움',sans-serif;
    font-weight: 300;
}
.seatbooking-wrapper .select-table .seat-count .cell .count .number .now {
    width: 42px;
    height: 32px;
    border: 1px solid #ccc;
    border-width: 1px 0;
}
.seatbooking-wrapper .select-table .seat-count .cell .count .number .num-choice {
    display: none;
    position: absolute;
    left: 0;
    top: 31px;
    z-index: 20;
    width: 42px;
    border: 1px solid #ccc;
    border-top: 0;
    background-color: #fff;
}
.seatbooking-wrapper .select-table .seat-count .cell .count .number .num-choice .btn {
    width: 100%;
    height: 32px;
    border-top: 1px solid #ccc;
}
.seatbooking-wrapper .select-table .seat-count .cell .count .number .num-choice .btn.on {
    color: #fff;
    background-color: #555;
}
.seatbooking-wrapper .movie-container {
    position: relative;
    background-color: #000;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.seatbooking-wrapper .movie-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px 15px;
    margin-bottom: 40px;
    font-size: 14px;
    border-radius: 5px;
}
.seatbooking-wrapper .movie-container .screen {
    background: #888;
    color: #fff;
    width: 100%;
    margin: 0 0 50px;
    text-align: center;
    font-size: 0.85rem;
    padding: 15px 0;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
}
.seatbooking-wrapper .movie-container .seat1,
.seatbooking-wrapper .movie-container .seat {
    background-color: #444451;
    color: #d9d9d9;
    text-align: center;
    font-size: 0.75rem;
    height: 21px;
    width: 45px;
    margin: 5.5px 3px;
    border-radius: 15px 15px 0 0;
}
.seatbooking-wrapper .movie-container .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}
.seatbooking-wrapper .movie-container .seat:nth-of-type(4) {
    margin-right: 30px;
}
.seatbooking-wrapper .movie-container .seat:nth-last-of-type(4) {
    margin-left: 30px;
}
.seatbooking-wrapper .movie-container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.seatbooking-wrapper .movie-container .selected {
    background-color: #0081cb;
}
.seatbooking-wrapper .movie-container .occupied {
    background-color: #fff;
}
.seatbooking-wrapper .movie-container .showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
}
.seatbooking-wrapper .movie-container .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.seatbooking-wrapper .movie-container .showcase li small {
    margin-left: 2px;
}
.seatbooking-wrapper .movie-container .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}
.seatbooking-wrapper .movie-container .letter {
    position: absolute;
    right: calc(100% - 3%);
    bottom: 0;
    color: rgb(255 255 255 / 0.65);
}
.seatbooking-wrapper .movie-container .letter > div {
    display: block;
    width: 15px;
    padding: 4.75px;
}
.seatbooking-wrapper .movie-container .out-door,
.seatbooking-wrapper .movie-container .in-door {
    color: rgb(255 255 255 / 0.75);
    font-size: 0.95rem;
}
.seatbooking-wrapper .movie-inner {
    position: relative;
    width: 85%;
    height: 100%;
    margin-bottom: 50px;
}
.seatbooking-wrapper .movie-container .out-door {
    position: absolute;
    left: calc(100% - 70px);
    bottom: -25px;
    transform: rotate(180deg);
}
.seatbooking-wrapper .movie-container .in-door {
    position: absolute;
    top: 55px;
    right: calc(100% - 30px);
    transform: rotate(-180deg);
}
.seatbooking-wrapper .price-table {
    position: relative;
    width: calc(25% - 10px);
    color: #fff;
    background: #333;
    padding: 20px;
}
.seatbooking-wrapper .price-table .tit-area {
    overflow: hidden;
    position: relative;
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: 1px solid #434343;
}
.seatbooking-wrapper .price-table .tit-area .price-tit {
    overflow: hidden;
    width: 100%;
    padding: 1px 0 0 0;
    font-size: 1.0667em;
    font-weight: 400;
    line-height: 1.1;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  .seatbooking-wrapper .price-table .tit-area .price-cate {
    padding: 5px 0 10px 0;
    font-size: .8667em;
    color: #aaa;
    line-height: 1.1;
}
.seatbooking-wrapper .price-table .info-area {
    position: relative;
    min-height: 121px;
    padding: 0 104px 0 0;
    font-size: .8667em;
    border-bottom: 1px solid #434343;
}
.seatbooking-wrapper .price-table .info-area:after,
.seatbooking-wrapper .price-table .info-area:before {
    content: '';
    display: table;
}
.seatbooking-wrapper .price-table .info-area:after {
  clear: both;
}
.seatbooking-wrapper .price-table .info-area p {
    padding: 0;
    color: #c4c4c4;
}
.seatbooking-wrapper .price-table .info-area p em {
    font-style: normal;
}
.seatbooking-wrapper .price-table .info-area .other-time {
    position: relative;
    width: 143px;
    margin: 8px 0;
    padding: 0;
    color: #fff;
}
.seatbooking-wrapper .price-table .info-area .poster {
    position: absolute;
    right: 24px;
    top: 10px;
    width: 70px;
    height: 100px;
    padding: 0;
    background: url(https://img.megabox.co.kr/static/pc/images/reserve/bg-seat-result-poster.png) no-repeat 0 0;
}
.seatbooking-wrapper .price-table .info-area .poster img {
    display: block;
    width: 70px;
    height: 100px;
}
.seatbooking-wrapper .price-table .reserve-number-wrapper {
    overflow: hidden;
    line-height: 1.1;
}
.seatbooking-wrapper .price-table .reserve-number-wrapper .reserve-number-title {
    float: left;
    width: 100px;
    line-height: 35px;
    font-size: .9333em;
}
.seatbooking-wrapper .price-table .reserve-number-wrapper .reserve-number {
    float: right;
    line-height: 35px;
}
.seatbooking-wrapper .price-table .price-seats-wrapper {
    overflow: hidden;
    line-height: 1.1;
    height: 35px;
}
.seatbooking-wrapper .price-table .price-seats-wrapper .price-seats-title {
    float: left;
    width: 100px;
    line-height: 35px;
    font-size: .9333em;
}
.seatbooking-wrapper .price-table .price-seats-wrapper .price-seats {
    font-size: .9333em;
    color: #c4c4c4;
}
.seatbooking-wrapper .price-table .ticket-price {
    overflow: hidden;
    line-height: 1.1;
}
.seatbooking-wrapper .price-table .ticket-price .ticket-price-title {
    float: left;
    width: 100px;
    line-height: 35px;
    font-size: .9333em;
}
.seatbooking-wrapper .price-table .ticket-price .ticket-price {
    float: right;
}
.seatbooking-wrapper .price-table .ticket-price .ticket-price em {
    display: block;
    float: left;
    line-height: 35px;
    font-size: 1.6em;
    color: #0081cb;
    font-weight: 700;
    font-style: normal;
}
.seatbooking-wrapper .price-table .ticket-price .ticket-price span {
    display: block;
    float: left;
    padding: 0 0 0 5px;
    line-height: 35px;
}
.seatbooking-wrapper .price-table .btn-group {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.seatbooking-wrapper .price-table .btn-group:after,
.seatbooking-wrapper .price-table .btn-group:before {
    content: '';
    display: table;
}
.seatbooking-wrapper .price-table .btn-group:after {
    clear: both;
}
.seatbooking-wrapper .price-table .btn-group .button {
    display: block;
    float: left;
    width: 50%;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 40px;
    color: #fff!important;
    border: 0;
    border-radius: 0;
    background-color: #53565b;
}
.seatbooking-wrapper .price-table .btn-group .button+.button {
    border-left: 1px solid #6a6a6c;
}
.seatbooking-wrapper .price-table .btn-group .button.disabled {
    color: #777!important;
    cursor: default!important;
    background-color: #e0e0e0!important;
    border-color: #e0e0e0!important;
}