@charset "UTF-8";
/*!
 * CSS 파일 이름 : RESERVATION
 * 작성자 : 신철헌
 * 최초 작성일 : 2023-06-26
 * RESERVATION CSS 파일은 부트스트랩 5.2.3 '커스터마이징(Customizing)' 및 자체 CSS
 * 로 작업한 프론트 입니다.
 */
 .schedule-tab li {
    position: relative;
 }
 .schedule-tab li .tab_tit {
    position: absolute;
    top: 0;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    color: #FFF;
    background-color: #000;
}
.schedule-tab li.active .tab_tit {
    color: #FFF;
    background-color: #FF243E;
}

.cinema-select,
.movie-select,
.movie-calendar {
    float: left;
}
.movie-select {
    width: 20%;
    background-color: #F8F8F8;
    overflow: hidden;
    height: 815px;
    border-right: 1px solid #DDD;
}
.cinema-select {
    width: 30%;
    background-color: #F8F8F8;
    height: 815px;
    border-right: 1px solid #222;
    border-bottom: 1px solid ##DDD;
    border-right-color: #CCC;
}
.cinema-calendar,
.movie-calendar {
    width: 80%;
    overflow: hidden;
    height: 815px;
    background-color: #fff;
}
.cinema-calendar {
    width: 70%;
}
.cinema-list {
    position: relative;
}
.cinema-list > li {
    padding: 2px;
    border-bottom: none;
}
.cinema-list > li > a {
    display: block;
    position: relative;
    width: 175px;
    box-sizing: border-box;
    padding: 10px 16px;
    font-size: 13px;
    color: #333;
}
.cinema-list > li > a em {
    font-size: 10px;
    color: #666;
    font-style: normal;
}
.cinema-list > li.active > a {
    background: #FFF url("../img/check.png") no-repeat 150px 13px;
}
.cinema-list > li.active > a::before {
    content: "선택";
    position: absolute;
    width: 0px;
    height: 0px;
    text-indent: -9999em;
    overflow: hidden;
}
.cinema-list > li .depth2 {
    position: absolute;
    top: 0;
    left: 175px;
    display: none;
    width: 212px;
    height: 760px;
    background-color: #fff;
}

.cinema-list > li.active .depth2 {
    display: block;
}
.cinema-list > li .depth2 ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
.cinema-list > li .depth2 ul li a {
    display: table-cell;
    /* display: block; */
    overflow: hidden;
    padding: 10px 16px;
    font-size: 13px;
    vertical-align: middle;
    color: #333;
}
.main-schedule .container:after,
.main-schedule .container:before { content: ''; display: table; }
.main-schedule .container:after { clear: both; }

.main-schedule { padding: 50px 0 0; background: #444;  }
.main-schedule .group_top {
    overflow: hidden;
    position: relative;
    height: 55px;
    line-height: 55px;
    border-right: 1px solid #222;
    text-align: center;
    border-right-color: #CCC;
    background-color: #E2E2E2;
}
.main-schedule .group_top .tit {
    color: #000;
    font-size: 18px;
    line-height: 55px;
}
.main-schedule .schedule-slider { padding:40px 60px; position: relative; background: #fff; border-bottom: 1px solid #eee; }
.main-schedule .schedule-slider a { display: block; text-align: center;}
.main-schedule .schedule-slider a .time { width:39px; margin:0 auto; }
.main-schedule .schedule-slider a .time strong { display: block; margin: 0 auto; width:39px; height: 39px; line-height: 38px; font-size:21px; color: #333; border-radius:100%;  transition: all 0.3s ease; }
.main-schedule .schedule-slider a .time p { font-size:14px; color: #9b9b9b; transition: all 0.3s ease; }
.main-schedule .schedule-slider a .time.saturday p { color: #1e90ff; }
.main-schedule .schedule-slider a .time.sunday p { color: #ff4a4a; }
.main-schedule .schedule-slider a.active .time strong { background: #000; color: #fff; }
.main-schedule .schedule-slider a.active .time p { color: #000; font-weight: 600; }
.main-schedule .schedule-slider a.disabled .time strong { color: #dbdbdb; }
.main-schedule .schedule-slider .swiper-button-next { position: absolute; right:3%; top:45%; width:46px; height: 46px; }
.main-schedule .schedule-slider .swiper-button-prev { position: absolute; left:3%; top:45%; width:46px; height: 46px; transform: rotate(1deg);}
 
.main-schedule .schedule-list ul:after { display: block; content: ''; clear: both; }
.main-schedule .schedule-list ul { margin:0 -8px;}
.main-schedule .schedule-list ul li { float:left; width:20%; padding:0 8px 16px; }
.main-schedule .schedule-list ul li a { display: block; height: 135px; box-shadow:0 10px 10px 0 rgba(0,0,0,0.05); border-radius:10px; padding:18px 10px 20px 20px;  background: #fff; position: relative; }
.main-schedule .schedule-list ul li a .subj { font-size:16px; margin-right:30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 10px; font-weight: 600;}
.main-schedule .schedule-list ul li a .time { font-size:16px; color: #909090; }
.main-schedule .schedule-list ul li a .time span { color: #000; }
.main-schedule .schedule-list ul li a .stat { font-size:14px; color: #40dfd0; }
.main-schedule .schedule-list ul li a .stat span { display: block; }
.main-schedule .schedule-list ul li a .stat span em { color: #000; }
.main-schedule .schedule-list ul li a .stat span + span {  color: #9b9b9b;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.main-schedule .schedule-list ul li a i { position: absolute; right:17px; top:17px;}
 
.schedule-list2 { }
.schedule-list2 .section { display: flex; align-items: center; padding-top:38px; border-top:1px solid #e2e2e2; max-width:1037px; margin: 0 auto; }
.schedule-list2 .section h3 { flex: 0 0 240px; font-size:16px; color: #000; font-weight: 700; }
.schedule-list2 .section h3 span { display: block; padding-left: 34px; position: relative; max-width:175px; }
.schedule-list2 .section h3 span i { position: absolute;left: 0; top:3px; }
.schedule-list2 .article { flex: 1; }
.schedule-list2 .article h4 { font-size:16px; color: #000; margin-bottom: 8px; }
.schedule-list2 .article ul { display: flex; flex-wrap: wrap; margin:0 -4px 28px; }
.schedule-list2 .article ul li {margin:0 6px 8px 0; } 
.schedule-list2 .article ul li a { display: block; width:153px; height: 61px; padding: 7px 16px; border-radius:10px ; box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.04); background: #fff;  }
.schedule-list2 .article ul li .time { font-size:14px; color: #909090; }
.schedule-list2 .article ul li .time span { font-size:16px; color: #000;}
.schedule-list2 .article ul li .length { font-size:12px; color: #40dfd0; display: flex;justify-content: space-between; }
.schedule-list2 .article ul li .length span { color: #000;}
.schedule-list2 .article ul li .length p:nth-child(2){ color: #1e90ff; font-weight: 600;}

.partner {    }
.partner .inner {padding: 80px 0 15px;margin-top:60px; border-top:1px solid #e2e2e2; }
.partner ul { display: flex; justify-content: space-between; }
.partner ul li {}
.partner a { display: block; border: 1px solid #e2e2e2; border-radius:5px; overflow: hidden;  text-align: center; }
.partner a img { max-width:100%; }

.mvList { padding: 0; background: #fff; }
.mvList ul {
    margin: 0;
    padding: 0;
}
.mvList ul > li {
    box-sizing: border-box;
    border: 2px solid transparent;
}
.mvList ul > li.active {
    border: 2px solid #000;
    background-color: #FFF;
}
.mvList ul > li > a {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 15px 20px;
    color: #000;
}
.mvList ul > li > a:after {
    content: "";
    display: block;
    clear: both;
}
.mvList ul > li.active > a:before {
    content: "선택";
    position: absolute;
    right: 19px;
    top: 18px;
    width: 18px;
    height: 14px;
    text-indent: -9999em;
    background: url("../img/check.png") no-repeat 0 0;
    filter: invert(63%) sepia(71%) saturate(970%) hue-rotate(171deg) brightness(90%) contrast(87%);
}
.mvList ul > li .group_infor {
    float: left;
}
.mvList ul > li .group_infor .bx_tit .tit {
    font-size: 15px;
    vertical-align: middle;
}
.mvList ul > li .group_infor .bx_tit .tit {
    display: block;
    overflow: hidden;
    width: 250px;
    padding-left: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mvList ul > li .group_infor .bx_tit:after {
    content: "";
    display: block;
    clear: both;
}
.mvList ul > li .group_infor .bx_tit .movieIcon {
    position: absolute;
    left: 20px;
    top: 16px;
}

.mvTimeLine { padding: 15px; background: #fff; }
.mvTimeLine .time_select_tit {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 1.05rem;
}
.mvTimeLine .time_select_tit .movieIcon {
    margin-right: 5px;
}
.mvTimeLine .bx_notice {
    clear: both;
    margin-top: 215px;
    padding-top: 52px;
    text-align: center;
    background: url(../img//film.png) no-repeat center 0;
}
.mvTimeLine .bx_notice p {
    line-height: 1.5;
    font-size: 15px;
}
.mvTimeLine > div button { display: block; width:100%; height: 73px; position: relative; padding:0 20px; background: #fafafa; transition: all 0.3s ease;}
.mvTimeLine > div button:hover { background: #eef0f6; }
.mvTimeLine > div button:before { content: ''; position: absolute;left: 0; right:0; top:0; bottom:0; border: 2px solid #4aa8d8; opacity:0; transition: all 0.3s ease;}
.mvTimeLine > div button .loc { font-size:14px; margin-bottom: 0; }
.mvTimeLine > div button .info:after { display: block; content: ''; clear: both; }
.mvTimeLine > div button .info .time {float:left; font-size:16px; font-weight: 600; width:auto; }
.mvTimeLine > div button .info .time span { color: #909090; }
.mvTimeLine > div button .info .num { float:right; font-size:16px; }
.mvTimeLine > div button .info .num span { color: #4aa8d8; }
.mvTimeLine > div.check button:before { opacity:1; }
.mvTimeLine > div.check button > p strong { font-weight: 600; }