@charset "UTF-8";
/*!
 * CSS 파일 이름 : STORE
 * 작성자 : 신철헌
 * 최초 작성일 : 2023-06-29
 * STORE CSS 파일은 부트스트랩 5.2.3 '커스터마이징(Customizing)' 및 자체 CSS
 * 로 작업한 프론트 입니다.
 */
.store-detail,
.store-inner {
    padding: 15px 0;
    background:#f1f2f7;
}
.store-detail .container,
.store-inner .container {
    background-color: #fff;
    border-left: 1px solid #F4F4F5;
    border-right: 1px solid #F4F4F5;
}
.store-detail .container:after,
.store-detail .container:before,
.store-inner .container:after,
.store-inner .container:before { content: ''; display: table; }
.store-detail .container:after,
.store-inner .container:after { clear: both; }
.store-detail .lnb,
.store-detail .content_wrap,
.store-inner .lnb, 
.store-inner .content_wrap {
    float: left;
}
.store-detail .lnb,
.store-inner .lnb {
    width: 18%;
    border-right: 1px solid #F4F4F5;
    padding-top: 55px;
    margin-right: -1px;
}
.store-detail .lnb h2,
.store-inner .lnb h2 {
    height: 71px;
    font-size: 40px;
    color: #424959;
    text-align: center;
}
.store-detail .lnb ul,
.store-inner .lnb ul {
    border-top: 1px solid #F5F5F6;
    margin: 0 34px 0 30px;
}
.store-detail .lnb li,
.store-inner .lnb li {
    border-bottom: 1px solid #F5F5F6;
}
.store-detail .lnb li a,
.store-inner .lnb li a {
    display: block;
    height: 49px;
    line-height: 51px;
    color: #666;
    font-weight: lighter;
    background: url(https://ssl.nexon.com/s2/game/Asgard/2018/sub/blt_lnb.png) 12px 50% no-repeat;
    font-size: 16px;
    padding-left: 25px;
}
.store-detail .lnb lii a:hover,
.store-detail .lnb .on a,
.store-inner .lnb li a:hover,
.store-inner .lnb .on a {
    color: #4ba5dc;
    background-position: -184px 50%;
}
.store-detail .content_wrap,
.store-inner .content_wrap {
    width: 82%;
    border-left: 1px solid #F4F4F5;
    padding: 55px 49px 80px 50px;
}
.store-inner .content_wrap .btn_category_product {
    display: block;
}
.store-inner .content_wrap .btn_category_product .com_list_img_wrap {
    display: block;
    position: relative;
    z-index: 1;
}
.store-inner .content_wrap .btn_category_product .com_list_img_wrap img {
    width: 100%;
}
.store-inner .content_wrap .btn_category_product .com_list_text_wrap {
    display: block;
    padding-bottom: 20px;
}
.store-inner .content_wrap .btn_category_product .com_list_text_title {
    display: block;
    overflow: hidden;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.store-inner .content_wrap .btn_category_product .com_list_text_name {
    display: block;
    overflow: hidden;
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.store-inner .content_wrap .btn_category_product .com_list_sale_price_wrap {
    display: block;
    margin-top: 15px;
    font-size: 0;
    letter-spacing: -0.25px;
    text-align: left;
}
.store-inner .content_wrap .btn_category_product .store_deatail_source_price {
    display: inline-block;
    padding: 0 8px 0 0;
    font-weight: 500;
    font-size: 17px;
    color: #000;
}
.store-inner .content_wrap .btn_category_product .store_deatail_source_price:after {
    content: '원';
}
.store-detail .pd_img {
    float: left;
    width: 420px;
}
.store-detail .container:after,
.store-detail .container:before { content: ''; display: table; }
.store-detail .container:after { clear: both; }
.store-detail .pd_img img {
    width: 100%;
}
.store-detail .pd_detail {
    margin-left: 550px;
}

.store-detail .pd_detail .pd_table {
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
}

.store-detail .pd_detail .pd_table th, .store-detail .pd_detail .pd_table td {
    border-bottom: 1px solid #eeeeee;
    padding: 20px 0;
    font-size: 15px;
}

.store-detail .pd_detail .pd_table th {
    text-align: left;
}

.store-detail .pd_detail .pd_table td {
    color: #666666;
}

.store-detail .pd_detail .pd_table .badge_wrap {
    border: none;
    padding: 0;
}

.store-detail .pd_detail .pd_table .tit {
    padding: 10px 0 22px;
    font-size: 28px;
}

.store-detail .pd_detail .pd_table .txt_sale {
    font-size: 18px;
}

.store-detail .pd_detail .pd_table .txt_price {
    margin-right: 20px;
    font-size: 25px;
}

.store-detail .pd_detail .pd_table .txt_price em {
    font-style: normal;
}

.store-detail .pd_detail .pd_table .txt_price_ins {
    font-size: 16px;
}

.store-detail .pd_detail .bx_num {
    margin-bottom: 40px;
}

.store-detail .pd_detail .txt_price_wrap {
    font-size: 15px;
    text-align: right;
    margin-bottom: 10px;
}

.store-detail .pd_detail .txt_price_wrap strong {
    margin-left: 20px;
    font-size: 30px;
    display: inline-block;
    font-family: 'Roboto', 'Noto Sans KR';
    font-weight: bold;
    color: #4aa8d8;
}
.store-detail .pd_detail .txt_price_wrap strong em {
    font-size: 0.667em;
    font-style: normal;
    font-weight: normal;
}

.store-detail .pd_detail .btn_col4 {
}

.store-detail .pd_detail .btn_wrap {
    font-size: 0;
}

.store-detail .pd_detail .btn_wrap a, .store-detail .pd_detail .btn_wrap button {
    width: 202px;
    margin-right: 6px;
    box-sizing: border-box;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #414141;
    height: 52px;
    line-height: 50px;
    padding: 0 24px;
}

.store-detail .pd_detail .btn_wrap a, .store-detail .pd_detail .btn_wrap button.btn_col1 {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #4aa8d8;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #4aa8d8;
}
.store-detail .pd_detail .btn_wrap a:only-child, .store-detail .pd_detail .btn_wrap button:only-child {
    width: 100%;
    margin-right: 0;
}

.store-detail .pd_detail .btn_wrap a:last-child, .store-detail .pd_detail .btn_wrap button:last-child {
    margin: 0;
}

.contents_event .time_wrap, .store-detail .pd_detail .time_wrap {
    background: #F5F5F5;
    margin-bottom: 25px;
    padding: 15px 20px;
}

.contents_event .time_wrap .txt_count, .store-detail .pd_detail .time_wrap .txt_count {
    margin: 0 10px 0 15px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.contents_event .time_wrap .txt_count.txt_color02, .store-detail .pd_detail .time_wrap .txt_count.txt_color02 {
    color: #FE5867;
}

.contents_event .time_wrap .txt_total, .store-detail .pd_detail .time_wrap .txt_total {
    float: right;
    font-size: 13px;
    line-height: 25px;
}

.contents_event .time_wrap .txt_total strong, .store-detail .pd_detail .time_wrap .txt_total strong {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

.store-detail .pd_detail .bx_num {
    width: auto;
    position: relative;
    margin-bottom: 40px;
    border: 1px solid #DDD;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
}
.store-detail .pd_detail .btn_mins, 
.store-detail .pd_detail .btn_plus {
    position: absolute;
    top: 0;
    bottom: 0;
    background: no-repeat 50% 50%;
    border: 0 none;
    padding: 0 15px;
    text-indent: -9999em;
    font: 0 auto;
}
.store-detail .pd_detail .btn_mins {
    left: 0;
    background-image: url(../img/minus_12.png);
}

.store-detail .pd_detail .btn_plus {
    right: 0;
    background-image: url(../img/plus_12.png);
}
.store-detail .pd_detail .txt_num {
    padding: 23px 0;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    color: #000;
    text-align: center;
    vertical-align: middle;
}