@charset "UTF-8";


.theater-wrapper .tit-util {
    margin: 50px 0 10px;
}
.theater-wrapper .tit-util:after {
    clear: both;
}
.theater-wrapper .tit-util:after,
.theater-wrapper .tit-util:before {
    content: '';
    display: block;
}
.theater-wrapper h3.tit {
    margin: 0;
    padding: 0 0 16px 0;
    font-size: 1.6em;
    font-weight: 400;
    color: #222;
    line-height: 1.1;
}
.theater-wrapper .tit-util .tit {
    float: left;
    padding: 0!important;
    line-height: 1.1;
}
.theater-wrapper .tit-util .float-end a {
    color: #333;
}
.theater-wrapper .tab-list {
    position: static;
    width: 100%;
    background-color: rgba(255,255,255);
}
.theater-wrapper .tab-list:after {
    clear: both;
}
.theater-wrapper .tab-list:after,
.theater-wrapper .tab-list:before {
    content: '';
    display: table;
}
.theater-wrapper .tab-list>ul {
    position: relative;
    width: 100%;
    height: 42px;
}
.theater-wrapper .tab-list>ul:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
}
.theater-wrapper .tab-list>ul>li:first-child:nth-last-child(2) {
    width: 50%;
}
.theater-wrapper .tab-list>ul>li:first-child:nth-last-child(2)~li {
    width: 50%;
}
.theater-wrapper .tab-list>ul>li {
    float: left;
    height: 42px;
    margin: 0;
    border: 1px solid #ebebeb;
    border-width: 1px 0 1px 1px;
}
.theater-wrapper .tab-list>ul>li:last-child {
    border-right: 1px solid #ebebeb;
}
.theater-wrapper .tab-list>ul>li.active a {
    position: relative;
    border: 1px solid #ebebeb;
    border-bottom: 0;
    background-color: #fff;
    z-index: 3;
}
.theater-wrapper .tab-list>ul>li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 41px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    color: #222;
    font-size: 1.0667em;
    text-decoration: none;
}
.theater-wrapper .tab-body {
    border: 1px solid #ebebeb;
    border-top: 0;
}
.theater-wrapper .tab-body .tab-pane {
	padding: 30px;
}
.theater-wrapper .tab-body .tab-pane ul {
    overflow: hidden;
    width: 100%;
}
.theater-wrapper .event-box {
    clear: both;
}
.theater-wrapper .event-box>ul {
    overflow: hidden;
    line-height: 0;
}
.theater-wrapper .event-box>ul>li {
    position: relative;
    width: 49%;
}
.theater-wrapper .event-box>ul>li:nth-child(1) {
    float: left;
}
.theater-wrapper .event-box>ul>li:nth-child(2) {
    float: right;
}
.theater-wrapper .event-box>ul>li>a {
    display: block;
}
.theater-wrapper .event-box>ul>li img {
    border-radius: 10px;
    width: 100%;
}
.theater-wrapper .notice-list .dep1 {
    position: relative;
    min-height: 90px;
    border-top: 1px solid #e2e2e6;
    transition: all 0.3s;
    zoom: 1;
}
.theater-wrapper .notice-list .dep1:hover,
.theater-wrapper .notice-list .dep1.on {
    background: #fbfbfb;
}
.theater-wrapper .notice-list .dep1 .leftInfo {
    float: left;
    width: 120px;
    line-height: 90px;
    font-size: 18px;
    color: #232323;
    vertical-align: middle;
}
.theater-wrapper .notice-list .dep1 .leftInfo .sort {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 90px;
    text-align: center;
    font-weight: 400;
}
.theater-wrapper .notice-list .dep1 .titInfo {
    position: relative;
    padding: 25px 0 0 30px;
    padding-top: 30px;
}
.theater-wrapper .notice-list .dep1 .tit a {
    display: inline-block;
    color: #636363;
    font-size: 18px;
    line-height: normal;
    max-width: 810px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.theater-wrapper .notice-list .dep1 .tit .ico {
    margin: 0 0 0 5px;
    vertical-align: 3px;
}
.theater-wrapper .notice-list .dep1 .etc {
    position: absolute;
    right: 0px;
    top: 35px;
    font-size: 15px;
    font-weight: 300;
    color: #999999;
}
.theater-wrapper .notice-list .dep1 .etc li {
    margin-right: 15px;
    float: left;
    border-bottom: 0;
}
.theater-wrapper .notice-list .dep1 .etc li span {
    padding: 0 1px;
    display: inline-block;
}